/* -- import Roboto Font ---------------------------- */
@import "Roboto.css";
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
html {
  position: relative;
  overflow-x: hidden;
  padding: 0;
  min-height: 100%;
  font-size: 70.5%;
}
body {
  font-family: 'RobotoDraft', 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.01rem;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
label {
  font-size: 90.5%;
}


.container {
    height: 200px;
    width: 200px;
    overflow: hidden;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:300px;
    height:350px;
}

.table-wrapper { 
    overflow-x:scroll;
    overflow-y:visible;
    width:500px;
    margin-left: 120px;
}

.table-wrapper2 { 
    overflow-x:scroll;
    overflow-y:visible;
    width:auto;
    margin-left: 120px;
}

/*

td, th {
    padding: 5px 20px;
    width: 100px;
    border-left: 1px solid;
}

th:first-child {
    position: absolute;
    left: 5px
}
*/
/*fixed column */
[fixed-first-column] {position:relative;}
[fixed-first-column]>.table-responsive {margin-left:200px;}
[fixed-first-column]>.table-responsive .table {}

[fixed-first-column]>.table-responsive .table>thead>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>td:first-child,
[fixed-first-column]>.table-responsive .table>thead>tr>th:first-child,
[fixed-first-column]>.table-responsive .table>tbody>tr>th:first-child {
    position: absolute;
    min-width: 200px;
    height: 30px !important;


    border-right: 1px solid #ddd !important;
    border-bottom:1px solid #f5f5f5 !important;
  left:0;
  top:auto;
  padding-top:0 !important;
  padding-bottom:0 !important;
}

[fixed-first-column] > .table-responsive .table > thead > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > td:first-child > div,
[fixed-first-column] > .table-responsive .table > thead > tr > th:first-child > div,
[fixed-first-column] > .table-responsive .table > tbody > tr > th:first-child > div {
  padding-top: 5px;
  padding-bottom: 5px;
  position:relative;
}

[fixed-first-column] > .table-responsive .table > thead > tr,
[fixed-first-column] > .table-responsive .table > tbody > tr,
[fixed-first-column] > .table-responsive .table > thead > tr,
[fixed-first-column] > .table-responsive .table > tbody > tr {
min-height: 30px !important;
max-height: 50px !important;


}

[fixed-first-column] td {
  min-width:100px; /* default width */
  max-width:200px;
 height: 30px !important;
 border: 1px solid #ddd !important;

}
/*fixed column */
 md-table-pagination div.label { color:  #757575; !important; } 

td, th {
   border: 1px solid #ddd !important;
}


.customTh{
    background: #cce6ff;
}

md-dialog.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

/*
.fixed{
  position:absolute;
  height: 50px;
  width: 82px;
  background: #cce6ff;
  margin-top: -24px;
  border: 1px solid;
}


   

th.md-column{
  height: auto;
}

.fixedheader{
  position:absolute;
  height: 57px;
  width: 82;
  background: #cce6ff;
  margin-top: -28px;
  border: 1px solid;
}
.margin{
  margin-left: -25px;
}
.margin2{
  margin-left: 31px;
}
.fixedmargin{
  border: 1px solid;
}
.md-cell, .md-column{
  border: 1px solid;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
  table-layout:fixed;
}

.md-cell, .md-column{
  border: 1px solid rgb(230,230,230);
  width:100px;
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(63,81,181,0.2) !important;
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}
*/
md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}

.alert-info {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.icon{
  width: auto;
  max-width: 50px;
  height: auto; 
  max-height: 90px;
  
}

.icon2{
  position: relative;
  width: 800px;
  height: 800px;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:1.0;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}

.cover{
  background: url(../images/blue.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  background-color: #fff;
}

.loginBox {
  max-width:  90%;
  width: 300px
}

input  {
  width: 100%
}


.user-avatar {
  border-radius: 99%;
}

// Colors
$gray: #eee;

// Angular
[ng-click] {
  &:hover {
    cursor: pointer;
  }
}

// Main content bg color
md-content.md-default-theme {
  background-color: $gray;
}

// Navigation drawer pattern: https://www.google.com/design/spec/patterns/navigation-drawer.html#navigation-drawer-specs
md-sidenav {

  & > md-toolbar {
    padding: 15px;
    height: 500px;
    max-height: 500px;
  }
  & md-list-item.md-2-line .md-list-item-text {
    padding-top: 14px;
    padding-bottom: 12px;
  }
  & md-divider {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  .ng-scope { height: 100%; }
}

// White svg icons in toolbar and fab

md-sidenav {
  md-icon {
    fill: #737373;
    position: relative;
  }
  .md-avatar {
    height: 64px;
    width: 64px;
  }
}

/* More closely matches https://www.google.com/design/spec/components/lists.html#lists-specs */
md-list-item.md-3-line {
  md-divider {
    &[md-inset] {
      left: 70px;
    }
  }
}

// Round avatar
.md-avatar {
  & > svg {
    border-radius: 50%;
  }
}

/* fade animation */
.animate-show {
    transition: 0.75s ease-out opacity;
    opacity: 1;
  &.ng-hide {
    height: 0;
    min-height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

md-list-item ._md-list-item-inner ._md-secondary-container,md-list-item ._md-secondary-container {
height: auto;
}

.flip {
  -webkit-perspective: 800;
   width: 90%;
   height: 500px;
    position: relative;
    display: block;
  margin: 0 auto;
}
.flip .card.flipped {
  -webkit-transform: rotatex(-180deg);
}
.flip .card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
.flip .card .face {*
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden ;
  z-index: 2;
    font-size: 3em;
    text-align: center;
}
.flip .card .front {
  position: absolute;
  z-index: 1;
    color: white;
    cursor: pointer;
}
.flip .card .back {
  -webkit-transform: rotatex(-180deg);
    -webkit-backface-visibility: hidden ;
    background: blue;
    background: white;
    color: black;
    cursor: pointer;
}

