<md-dialog aria-label="Add Individuals"  layout-padding ng-cloak flex="50">
<form name="myForm">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h3>Recepients Details</h3>
    <span flex></span>
    <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
  </div>
</md-toolbar>
  <div class="md-dialog-content">
<md-dialog-content>
  <md-checkbox ng-model="temp.cb" aria-label="Checkbox 1">
    Specify (Group): 
  </md-checkbox>

  <div  ng-if="temp.cb">
<md-input-container class="md-block" flex-gt-sm>
<label for="selectGroup"> Group: </label>
<md-select name="selectGroup" id="selectGroup" ng-model="temp.group" required>
<md-option ng-repeat="option in groups" value="{{option.id}}">{{option.name}}</md-option>
</md-select>
</md-input-container>
  <md-input-container class="md-block" flex-gt-sm>
  <label for="selectMonth"> Month: </label>
  <md-select name="selectMonth" id="selectMonth" ng-model="temp.month" required>
  <md-option ng-repeat="option in months" value="{{option.id}}">{{option.month_name}}</md-option>
</md-select>
</md-input-container>
  </div>

<div ng-if="!temp.cb">
 <div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
  <label for="selectMonth"> Month: </label>
  <md-select name="selectMonth" id="selectMonth" ng-model="temp.month" required>
  <md-option ng-repeat="option in months" value="{{option.id}}">{{option.month_name}}</md-option>
</md-select>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
<label for="selectGroup"> Group: </label>
<md-select name="selectGroup" id="selectGroup" ng-model="temp.group" required>
<md-option ng-repeat="option in groups" value="{{option.id}}">{{option.name}}</md-option>
<md-option  value="0">No Group</md-option>
</md-select>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
<label >Birthdate:</label>
<input type="date" ng-model="temp.bdate">
</md-input-container><br>

</div>

<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
  <label >Surname:</label>
  <input type="text" ng-model="temp.surname" required>
</md-input-container>

<md-input-container class="md-block"  flex-gt-sm>
<label >Firstname:</label>
<input type="text" ng-model="temp.firstname" required>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
<label >Middlename:</label>
<input type="text" ng-model="temp.middlename">
</md-input-container><br>
</div>


<span><i>Address*:</i></span>
<div layout-gt-sm="row">
  <md-input-container  flex-gt-sm>
  <label for="selectProvince"> Province: </label>
  <md-select name="selectProvince" id="selectProvince" ng-model="temp.provs" ng-change="temp.muns=null"required>
  <md-option ng-repeat="option in provinces" value="{{option.province_id}}">{{option.province_name}}</md-option>
</md-select>
</md-input-container>

<md-input-container  flex-gt-sm>
<label for="selectProvince"> Municipal: </label>
<md-select name="selectMunicipal" id="selectMunicipal" ng-disabled="!temp.provs || temp.provs=='111'" ng-model="temp.muns">
<md-option ng-repeat="option in municipals | filter: temp.provs" value="{{option.municipal_id}}">{{option.municipal_name}}</md-option>
</md-select>
</md-input-container>

<md-input-container  flex-gt-sm>
<label for="selectProvince"> Barangay: </label>
<md-select name="selectBarangay" id="selectBarangay" ng-disabled="!temp.muns || temp.provs=='111'" ng-model="temp.brgy">
<md-option ng-repeat="option in barangays | filter: temp.muns" value="{{option.barangay_id}}">{{option.barangay_name}}</md-option>
</md-select>
</md-input-container>

</div>

<span><i>If any:</i></span>
<div layout-gt-sm="row">
  <md-input-container class="md-block" flex-gt-sm>
  <label >Contact No.:</label>
  <input type="number" ng-model="temp.contact">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label >Email:</label>
<input type="email" ng-model="temp.email">
</md-input-container>
<md-input-container class="md-block" flex-gt-sm>
<label >Sex:</label>
<md-select ng-model="temp.sex" required>
<md-option value="male">Male</md-option>
<md-option value="female">Female</md-option>
</md-select>
</md-input-container><br>
</div>
</div>






</md-dialog-content>
<md-dialog-actions layout="row">
<md-button class="md-raised md-primary"  ng-click="save_individual()" ng-disabled="myForm.$invalid"><md-icon md-svg-icon="content:ic_save_24px"  aria-label="save" ng-click=""></md-icon>SAVE</md-button> 

</md-dialog-actions>
</form>
</md-dialog>

