	<md-progress-circular layout-align="center center" md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
	<md-content flex layout-padding layout-margin>
	 <div layout="row" layout-xs="column" ng-hide="isLoading">
	<!--<div flex layout-padding layout-margin><br><br>
	<h5 class="center">Top Performers - Financial Accomplishment 2016</h5> 
	<h6 class="center" >as of {{date| date:'MMM dd, yyyy'}}</h6>
		<div class="table-wrapper">
		<table fixed-first-column style="width:100%;" class="bordered striped">
			<thead class="header">
			<tr >
				<th ><span >Banners</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT</span></th>
				<th ><span>QT-%</span></th>
			</tr>
			</thead>
			<tbody >
				<tr class="results" ng-repeat="x in ban | orderBy:predicate:true">
					<th ><span >{{$index + 1}}.{{x.banner_name}}</span></th>
					<td ><span >&#8369 {{x.ob.obl|number:2}}</span></td>
					<td >&#8369 {{(1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl)|number:2}}</td>
					<td ng-init="perq1_t = ((1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl))/x.ob.obl">{{perq1_t|percentage:2}}</td>
					<td > &#8369{{(1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl)|number:2}}</td>
					<td  ng-init="perq2_t = ((1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl))/x.ob.obl">{{perq2_t|percentage:2}}</td>
					<td  ><span >&#8369 {{x.oba_t|number:2}}</span></td>
					<td  ><span > {{x.per_fin|percentage:2}}</span></td>

				</tr>			
			  <tr >	
			    <th ><strong>TOTAL-ALL</strong></th>
			    <td ><strong> &#8369 {{ob_all|number:2}}</strong></td>
			    <td ><strong> &#8369 {{oba_q1|number:2}}</strong></td>
			    <td ><strong> {{(oba_q1/ob_all)|percentage:2}}</strong></td>
			    <td ><strong> &#8369 {{oba_q2|number:2}}</strong></td>
			    <td ><strong> {{(oba_q2/ob_all)|percentage:2}}</strong></td>
			    <td ><strong> &#8369 {{oba_all|number:2}}</strong></td>
			    <td ><strong> {{(oba_all/ob_all)|percentage:2}}</strong></td>
			  </tr>
	
			</tbody>
		</table>
		</div>
	</div>-->
<div class="card">
	<div class="card-content">
		<h4 class="center" style="padding:0px">Financial Summary Report by Quarter</h4>
		<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
		<div google-chart chart="myChartObject" style="height:500px; width:100%; margin-top:-10px;"></div>
		<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4"><h4 class="center">Monthly Financial Performance</h4>
		<i class="material-icons right">close</i></span>
		<md-content flex layout-padding>
			<h4 class="center" style="padding:0px">Top Performers - Financial Accomplishment 2016</h4>
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
			<div fixed-first-column style="width:100%;">
				<table class="table bordered striped">
					<thead>
						<tr class="md-table-headers-row">
							<th ><span >Banners</span></th>
							<th ><span>Annual Target</span></th>
							<th ><span>Q1</span></th>
							<th ><span>Q1-%</span></th>
							<th ><span>Q2</span></th>
							<th ><span>Q2-%</span></th>
							<th ><span>QT</span></th>
							<th ><span>QT-%</span></th>
						</tr>
					</thead>
					<tbody>
						<tr class="results" ng-repeat="x in ban | orderBy:predicate:true">
							<th ><span >{{$index + 1}}.{{x.banner_name}}</span></th>
							<td ><span >&#8369 {{x.ob.obl|number:2}}</span></td>
							<td >&#8369 {{(1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl)|number:2}}</td>
							<td ng-init="perq1_t = ((1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl))/x.ob.obl">{{perq1_t|percentage:2}}</td>
							<td > &#8369{{(1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl)|number:2}}</td>
							<td  ng-init="perq2_t = ((1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl))/x.ob.obl">{{perq2_t|percentage:2}}</td>
							<td  ><span >&#8369 {{x.oba_t|number:2}}</span></td>
							<td  ><span > {{x.per_fin|percentage:2}}</span></td>

						</tr>			
						<tr >	
							<th ><strong>TOTAL-ALL</strong></th>
							<td ><strong> &#8369 {{ob_all|number:2}}</strong></td>
							<td ><strong> &#8369 {{oba_q1|number:2}}</strong></td>
							<td ><strong> {{(oba_q1/ob_all)|percentage:2}}</strong></td>
							<td ><strong> &#8369 {{oba_q2|number:2}}</strong></td>
							<td ><strong> {{(oba_q2/ob_all)|percentage:2}}</strong></td>
							<td ><strong> &#8369 {{oba_all|number:2}}</strong></td>
							<td ><strong> {{(oba_all/ob_all)|percentage:2}}</strong></td>
						</tr>	
					</tbody>
				</table>
			</div>

		</md-content>


			 <!--<div flex layout-padding layout-margin>
	<div google-chart chart="myChartObject" style="height:600px; width:100%;"></div>-->
	</div>
	</div>
	</div>
	</md-content>
<!--
	<div flex layout-padding layout-margin ng-hide="isLoading">
		<h5 class="center">Financial Summary Report - Data table</h5> 
		<div class="table-wrapper2">
		<table class="bordered striped centered">
			<thead>
				<tr>
					<th ><span >Banners</span></th>
					<th ><span >Annual</span></th>
					<th colspan="3" ><span>Jan T-A-%</span></th>
					<th colspan="3" ><span>Feb T-A-%</span></th>
					<th colspan="3" ><span>Mar T-A-%</span></th>
					<th colspan="3" ><span>Q1 T-A-%</span></th>
					<th colspan="3" ><span>Apr T-A-%</span></th>
					<th colspan="3" ><span>May T-A-%</span></th>
					<th colspan="3" ><span>Jun T-A-%</span></th>
					<th colspan="3" ><span>Q2 T-A-%</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in ban">
					<th ><span>{{x.banner_name}}</span></th>
					<th ><span>{{x.ob.obl|number:2}}</span></th>

					<td >{{x.total[0].ob.obl|number:2}}</td>
					<td >{{x.total[0].oba.obl|number:2}}</td>
					<td ng-init="per0 = (1*x.total[0].oba.obl)/(1*x.total[0].ob.obl)">
						{{per0|percentage:2}}</td>
	
					<td >{{x.total[1].ob.obl|number:2}}</td>
					<td >{{x.total[1].oba.obl|number:2}}</td>
					<td ng-init="per1 = (1*x.total[1].oba.obl)/(1*x.total[1].ob.obl)">
						{{per1|percentage:2}}</td>

					<td >{{x.total[2].ob.obl|number:2}}</td>
					<td >{{x.total[2].oba.obl|number:2}}</td>
					<td ng-init="per2 = (1*x.total[2].oba.obl)/(1*x.total[2].ob.obl)">
						{{per2|percentage:2}}</td>

					<td >{{(1*x.total[0].ob.obl)+(1*x.total[1].ob.obl)+(1*x.total[2].ob.obl)|number:2}}</td>
					<td >{{(1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl)|number:2}}</td>
					<td ng-init="perq1 = ((1*x.total[0].oba.obl)+(1*x.total[1].oba.obl)+(1*x.total[2].oba.obl))/((1*x.total[0].ob.obl)+(1*x.total[1].ob.obl)+(1*x.total[2].ob.obl))">{{perq1|percentage:2}}</td>

					<td >{{x.total[3].ob.obl|number:2}}</td>
					<td >{{x.total[3].oba.obl|number:2}}</td>
					<td  ng-init="per3 = (1*x.total[3].oba.obl)/(1*x.total[3].ob.obl)">
						{{per3|percentage:2}}</td>

					<td >{{x.total[4].ob.obl|number:2}}</td>
					<td >{{x.total[4].oba.obl|number:2}}</td>
					<td  ng-init="per4 = (1*x.total[4].oba.obl)/(1*x.total[4].ob.obl)">
						{{per4|percentage:2}}</td>

					<td >{{x.total[5].ob.obl|number:2}}</td>
					<td >{{x.total[5].oba.obl|number:2}}</td>
					<td ng-init="per5 = (1*x.total[5].oba.obl)/(1*x.total[5].ob.obl)">
						{{per5|percentage:2}}</td>

					<td >{{(1*x.total[3].ob.obl)+(1*x.total[4].ob.obl)+(1*x.total[5].ob.obl)|number:2}}</td>
					<td >{{(1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl)|number:2}}</td>
					<td  ng-init="perq2 = ((1*x.total[3].oba.obl)+(1*x.total[4].oba.obl)+(1*x.total[5].oba.obl))/((1*x.total[3].ob.obl)+(1*x.total[4].ob.obl)+(1*x.total[5].ob.obl))">{{perq2|percentage:2}}</td>
			
				</tr>				
			</tbody>
		</table>
		</div>
	</div>-->
<md-content flex layout-padding layout-margin>
	<div layout="row" layout-xs="column" ng-hide="isLoading">
		<div class="card">
			<div class="card-content">
				<h4 class="center" style="padding:0px">Physical Summary Report by Quarter - 2016</h4>
				<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
				<div google-chart chart="myChartObject2" style="height:500px; width:100%; margin-top:-10px;"></div>
				<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><h4 class="center">Monthly Financial Performance</h4>
				<i class="material-icons right">close</i></span>
				<md-content flex layout-padding>
					<h4 class="center" style="padding:0px">Top Performers - Financial Accomplishment 2016</h4>
					<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
					<div fixed-first-column style="width:100%;">
						<table class="table bordered striped">
							<thead>
								<tr >
									<th ><span >Banners</span></th>
									<th ><span>Q1%</span></th>
									<th ><span>Q2%</span></th>
									<th ><span>QT%</span></th>
								</tr>
								</thead>
								<tbody >
									<tr  ng-repeat="x in p_banner | orderBy:p:true">
										<th ><span >{{$index + 1}}.{{x.banner_name}}</span></th>
										<td ><span >{{x.p1|percentage:2}}</span></td>
										<td ><span >{{x.p2|percentage:2}}</span></td>
										<td ><span >{{x.pt|percentage:2}}</span></td>
									</tr>
									<tr>
										<th ><span >TOTAL-AVERAGE</span></th>
										<td> {{a_p1/8|percentage:2}}</td>
										<td> {{a_p2/8|percentage:2}}</td>
										<td> {{a_pt/8|percentage:2}}</td>
									</tr>
						
								</tbody>
						</table>
					</div>

				</md-content>
			</div>
		</div>
	</div>
</md-content>

<md-content flex layout-padding layout-margin>
	<div layout="row" layout-xs="column" ng-hide="isLoading">
		<div class="card">
			<div class="card-content">
				<h4 class="center" style="padding:0px">Physical Summary Report by Unit - 2016</h4>
				<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
				<div google-chart chart="myChartObject3" style="height:700px; width:100%; margin-top:-10px;"></div>
				<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><h4 class="center">Monthly Financial Performance</h4>
				<i class="material-icons right">close</i></span>
				<md-content flex layout-padding>
					<h4 class="center" style="padding:0px">Physical Summary Report by Unit Measure- Data table</h4>
					<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
					<div fixed-first-column style="width:100%;">
						<table class="table bordered striped">
							<thead>
			<tr>
				<th ><span>Unit Measure</span></th>
				<th colspan="4"><span>RICE</span></th>
				<th colspan="4"><span>CORN</span></th>
				<th colspan="4"><span>HVCDP</span></th>
				<th colspan="4"><span>LIVESTOCK</span></th>
				<th colspan="4"><span>ORGANIC</span></th>
				<th colspan="4"><span>ALL</span></th>
			</tr>
			<tr>
				<th></th>	
				<th ><span>Annual Target</span></th>		
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<th ><span>Annual Target</span></th>
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in unit">
					<th ><span>{{x.description}}</span></th>
					<td ><span>{{x.total[0].k1.k1|number:2}}</span></td>
					<td ><span>{{x.total[0].q1.q1|number:2}} 
						({{x.total[0].q1.q1/x.total[0].k1.k1 |percentage:2 }})</span></td>
					<td ><span>{{x.total[0].q2.q2|number:2}} 
						({{x.total[0].q2.q2/x.total[0].k1.k1 |percentage:2}})</span></td>
					<td ><span>{{x.total[0].qt.qt|number:2}} 
						({{x.total[0].qt.qt/x.total[0].k1.k1 |percentage:2}})</span></td>

					<td ><span>{{x.total[1].k1.k1|number:2}}</span></td>
					<td ><span>{{x.total[1].q1.q1|number:2}}  
						({{x.total[1].q1.q1/x.total[1].k1.k1 |percentage:2 }})</span></td>
					<td ><span>{{x.total[1].q2.q2|number:2}} 
						({{x.total[1].q2.q2/x.total[1].k1.k1 |percentage:2}})</span></td>
					<td ><span>{{x.total[1].qt.qt|number:2}} 
						({{x.total[1].qt.qt/x.total[1].k1.k1 |percentage:2}})</span></td>

					<td ><span>{{x.total[2].k1.k1|number:2}}</span></td>
					<td ><span>{{x.total[2].q1.q1|number:2}}  
						({{x.total[2].q1.q1/x.total[2].k1.k1 |percentage:2 }})</span></td>
					<td ><span>{{x.total[2].q2.q2|number:2}} 
						({{x.total[2].q2.q2/x.total[2].k1.k1 |percentage:2}})</span></td>
					<td ><span>{{x.total[2].qt.qt|number:2}} 
						({{x.total[2].qt.qt/x.total[2].k1.k1 |percentage:2}})</span></td>

					<td ><span>{{x.total[3].k1.k1|number:2}}</span></td>
					<td ><span>{{x.total[3].q1.q1|number:2}}  
						({{x.total[3].q1.q1/x.total[3].k1.k1 |percentage:2 }})</span></td>
					<td ><span>{{x.total[3].q2.q2|number:2}} 
						({{x.total[3].q2.q2/x.total[3].k1.k1 |percentage:2}})</span></td>
					<td ><span>{{x.total[3].qt.qt|number:2}} 
						({{x.total[3].qt.qt/x.total[3].k1.k1 |percentage:2}})</span></td>

					<td><span>{{x.total[4].k1.k1|number:2}}</span></td>
					<td><span>{{x.total[4].q1.q1|number:2}}  
						({{x.total[4].q1.q1/x.total[4].k1.k1 |percentage:2 }})</span></td>
					<td><span>{{x.total[4].q2.q2|number:2}} 
						({{x.total[4].q2.q2/x.total[4].k1.k1 |percentage:2}})</span></td>
					<td><span>{{x.total[4].qt.qt|number:2}} 
						({{x.total[4].qt.qt/x.total[4].k1.k1 |percentage:2}})</span></td>

					<td><span>{{x.k1.k1|number:2}}</span></td>
					<td><span>{{x.q1.q1|number:2}}  
						({{x.q1.q1/x.k1.k1 |percentage:2}})</span></td>
					<td><span>{{x.q2.q2|number:2}} 
						({{x.q2.q2/x.k1.k1 |percentage:2}})</span></td>
					<td><span>{{x.qt.qt|number:2}} 
						({{x.qt.qt/x.k1.k1 |percentage:2}})</span></td>

				</tr>
				<tr >
					<th><span>AVERAGE</span></th>
					<td></td>
					<td> {{r_p1/actr[0]|percentage:2}}</td>
					<td> {{r_p2/actr[0]|percentage:2}}</td>
					<td> {{r_pt/actr[0]|percentage:2}}</td>
					<td></td>
					<td> {{c_p1/actr[1]|percentage:2}}</td>
					<td> {{c_p2/actr[1]|percentage:2}}</td>
					<td> {{c_pt/actr[1]|percentage:2}}</td>
					<td></td>
					<td> {{h_p1/actr[2]|percentage:2}}</td>
					<td> {{h_p2/actr[2]|percentage:2}}</td>
					<td> {{h_pt/actr[2]|percentage:2}}</td>
					<td></td>
					<td> {{l_p1/actr[3]|percentage:2}}</td>
					<td> {{l_p2/actr[3]|percentage:2}}</td>
					<td> {{l_pt/actr[3]|percentage:2}}</td>
					<td></td>
					<td> {{o_p1/actr[4]|percentage:2}}</td>
					<td> {{o_p2/actr[4]|percentage:2}}</td>
					<td> {{o_pt/actr[4]|percentage:2}}</td>
					<td></td>
					<td> {{a_p1/8|percentage:2}}</td>
					<td> {{a_p2/8|percentage:2}}</td>
					<td> {{a_pt/8|percentage:2}}</td>
				</tr>
			</tbody>
						</table>
					</div>

				</md-content>
			</div>
		</div>
	</div>
</md-content>
<md-content flex layout-padding layout-margin>
	<div layout="row" layout-xs="column" ng-hide="isLoading">
		<div class="card">
			<div class="card-content">
				<h4 class="center" style="padding:0px">Physical Summary Report by MFO - 2016</h4>
				<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
				<div google-chart chart="myChartObject4" style="height:700px; width:100%; margin-top:-10px;"></div>
				<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><h4 class="center">Monthly Physical Performance</h4>
				<i class="material-icons right">close</i></span>
				<md-content flex layout-padding>
					<h4 class="center" style="padding:0px">Physical Summary Report by MFO- Data table</h4>
					<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
					<div fixed-first-column style="width:100%;">
						<table class="table bordered striped">
							<thead>
			<tr>
				<th ><span>Unit Measure</span></th>
				<th colspan="3"><span>RICE</span></th>
				<th colspan="3"><span>CORN</span></th>
				<th colspan="3"><span>HVCDP</span></th>
				<th colspan="3"><span>LIVESTOCK</span></th>
				<th colspan="3"><span>ORGANIC</span></th>
			</tr>
			<tr>
				<th></th>	
				<!--th ><span>Annual Target</span></th-->		
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<!--th ><span>Annual Target</span></th-->
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<!--th ><span>Annual Target</span></th-->
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<!--th ><span>Annual Target</span></th-->
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
				<!--th ><span>Annual Target</span></th-->
				<th ><span>Q1-%</span></th>
				<th ><span>Q2-%</span></th>
				<th ><span>QT-%</span></th>
			</tr>
			</thead>
			<tbody>
				<tr ng-repeat="x in sampledata">
					<th ><span>{{x[0].header_id}}</span></th>
					<!--td ><span>{{x.total[0].k1.k1|number:2}}</span></td-->
					<td style="text-align: right"><span>{{x[1][0][0].q1|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[1][0][1].q2|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[1][0][0].q1+x[1][0][1].q2|percentage:2}}</span></td>

					<!--td ><span>{{x.total[1].k1.k1|number:2}}</span></td-->
					<td style="text-align: right"><span>{{x[2][0][0].q1|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[2][0][1].q2|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[2][0][0].q1+x[2][0][1].q2|percentage:2}}</span></td>

					<!--td ><span>{{x.total[2].k1.k1|number:2}}</span></td-->
					<td style="text-align: right"><span>{{x[3][0][0].q1|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[3][0][1].q2|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[3][0][0].q1+x[3][0][1].q2|percentage:2}}</span></td>

					<!--td ><span>{{x.total[3].k1.k1|number:2}}</span></td-->
					<td style="text-align: right"><span>{{x[4][0][0].q1|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[4][0][1].q2|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[4][0][0].q1+x[4][0][1].q2|percentage:2}}</span></td>

					<!--td><span>{{x.total[4].k1.k1|number:2}}</span></td-->
					<td style="text-align: right"><span>{{x[5][0][0].q1|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[5][0][1].q2|percentage:2}}</span></td>
					<td style="text-align: right"><span>{{x[5][0][0].q1+x[5][0][1].q2|percentage:2}}</span></td>


				</tr>
				<tr >
					<th><span>AVERAGE</span></th>
					<!--td></td-->
					<td style="text-align: right"> {{r_p1/actr[0]|percentage:2}}</td>
					<td style="text-align: right"> {{r_p2/actr[0]|percentage:2}}</td>
					<td style="text-align: right"> {{r_pt/actr[0]|percentage:2}}</td>
					<!--td></td-->
					<td style="text-align: right"> {{c_p1/actr[1]|percentage:2}}</td>
					<td style="text-align: right"> {{c_p2/actr[1]|percentage:2}}</td>
					<td style="text-align: right"> {{c_pt/actr[1]|percentage:2}}</td>
					<!--td></td-->
					<td style="text-align: right"> {{h_p1/actr[2]|percentage:2}}</td>
					<td style="text-align: right"> {{h_p2/actr[2]|percentage:2}}</td>
					<td style="text-align: right"> {{h_pt/actr[2]|percentage:2}}</td>
					<!--td></td-->
					<td style="text-align: right"> {{l_p1/actr[3]|percentage:2}}</td>
					<td style="text-align: right"> {{l_p2/actr[3]|percentage:2}}</td>
					<td style="text-align: right"> {{l_pt/actr[3]|percentage:2}}</td>
					<!--td></td-->
					<td style="text-align: right"> {{o_p1/actr[4]|percentage:2}}</td>
					<td style="text-align: right"> {{o_p2/actr[4]|percentage:2}}</td>
					<td style="text-align: right"> {{o_pt/actr[4]|percentage:2}}</td>
				</tr>
			</tbody>
						</table>
					</div>

				</md-content>
			</div>
		</div>
	</div>
</md-content>
