
<md-card>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="GROUPS">
<md-content class="md-padding">
 <section layout="row" layout-sm="column"  layout-wrap>
<md-button class="md-raised md-primary" ng-click="group(groups, $event)">ADD GROUP</md-button>
</section>
<md-table-container>
<table md-table class="table table-condensed table-striped">
  <thead md-head>
    <tr md-row class="md-table-headers-row">
      <td md-column><span>No</span></td>
      <td md-column><span>Name of LGU/Association</span></td>
      <td md-column><span>Services Received</span></td>
      <td md-column><span>Province</span></td>
      <td md-column><span>Municipal</span></td>
      <td md-column><span>Barangay</span></td>
      <td md-column><span>Contact No.</span></td>
      <td md-column><span>Email</span></td>
      <td md-column><span>Actions</span></td>
   
    </tr>
  </thead>
  <tbody md-body>
   <tr md-row ng-repeat="x in groups" ng-include="getTemplate(x)"> 
  </tr>
  </tbody>
</table>
</md-table-container>
</md-content>
</md-tab>

<md-tab label="RECIPIENTS">
<md-content class="md-padding">
<md-table-container>
<div fixed-first-column>
<table md-table class="table table-condensed table-striped center">
  <thead md-head>
    <tr md-row class="md-table-headers-row">
      <td md-column><span>MFOs</span></td>
      <td md-column><span>Jan</span></td>
      <td md-column><span>Feb</span></td>
      <td md-column><span>Mar</span></td>
      <td md-column><span>Apr</span></td>
      <td md-column><span>May</span></td>
      <td md-column><span>Jun</span></td>
      <td md-column><span>Jul</span></td>
      <td md-column><span>Aug</span></td>
      <td md-column><span>Sep</span></td>
      <td md-column><span>Oct</span></td>
      <td md-column><span>Nov</span></td>
      <td md-column><span>Dec</span></td>
      <td md-column><span>Tot</span></td>
    </tr>
  </thead>
  <tbody md-body>
      <tr md-row ng-repeat="x in inds | limitTo: query.limit : (query.page -1) * query.limit | filter:search"> 
        <td md-cell ><a ng-click="individual(x, inds, $event)">{{x.mfo_name}}</a></td>
   
      <td md-cell ng-click="myInd(x, inds, '1', $event)">{{x.total[0].total}}-{{x.totalg[0].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '2', $event)">{{x.total[1].total}}-{{x.totalg[1].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '3', $event)">{{x.total[2].total}}-{{x.totalg[2].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '4', $event)">{{x.total[3].total}}-{{x.totalg[3].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '5', $event)">{{x.total[4].total}}-{{x.totalg[4].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '6', $event)">{{x.total[5].total}}-{{x.totalg[5].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '7', $event)">{{x.total[6].total}}-{{x.totalg[6].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '8', $event)">{{x.total[7].total}}-{{x.totalg[7].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '9', $event)">{{x.total[8].total}}-{{x.totalg[8].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '10', $event)">{{x.total[9].total}}-{{x.totalg[9].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '11', $event)">{{x.total[10].total}}-{{x.totalg[10].totalg}}</td>
      <td md-cell ng-click="myInd(x, inds, '12', $event)">{{x.total[11].total}}-{{x.totalg[11].totalg}}</td>
       <td md-cell>
        {{
        (1*x.total[0].total)+
        (1*x.total[1].total)+
        (1*x.total[2].total)+
        (1*x.total[3].total)+
        (1*x.total[4].total)+
        (1*x.total[5].total)+
        (1*x.total[6].total)+
        (1*x.total[7].total)+
        (1*x.total[8].total)+
        (1*x.total[9].total)+
        (1*x.total[10].total)+
        (1*x.total[11].total)}}-
         {{
        (1*x.totalg[0].totalg)+
        (1*x.totalg[1].totalg)+
        (1*x.totalg[2].totalg)+
        (1*x.totalg[3].totalg)+
        (1*x.totalg[4].totalg)+
        (1*x.totalg[5].totalg)+
        (1*x.totalg[6].totalg)+
        (1*x.totalg[7].totalg)+
        (1*x.totalg[8].totalg)+
        (1*x.totalg[9].totalg)+
        (1*x.totalg[10].totalg)+
        (1*x.totalg[11].totalg)}} </td>
    

  </tbody>
</table>
</div>
</md-content>
</md-tab>
</md-card>
<div id="dialog-confirm">
</div>


<script type="text/ng-template" id="display-group">
<td md-cell>{{$index+1}}</td>
<td md-cell>{{x.name}}</td>
<td md-cell ng-click="view_service(x, inds, $event)"><a>{{x.services}}</a></td>
<td md-cell ng-repeat="p in provinces | filter:{'province_id': x.province}:true">{{p.province_name}}</td>
<td md-cell ng-repeat="m in municipals | filter:{'municipal_id': x.municipal}:true">{{m.municipal_name}}</td>
<td md-cell ng-repeat="b in barangays | filter:{'barangay_id': x.barangay}:true">{{b.barangay_name}}</td>
<td md-cell>{{x.contact}}</td>
<td md-cell>{{x.email}}</td>
<td md-cell>    
<md-icon ng-click="edit(x)" md-svg-icon="editor:ic_mode_edit_24px"  aria-label="edit"></md-icon>
<md-icon ng-if="x.services==0" ng-click="del(x)" md-svg-icon="action:ic_delete_forever_24px"  aria-label="delete"></md-icon>
</td>
</script>

 <script type="text/ng-template" id="edit-group">
  <td md-cell>{{selected.id}}</td>
  <td md-cell><md-input-container>
  <input ng-model="selected.name" type="text" aria-label="name" name="name" required>
  </md-input-container>
  </td>
 <td md-cell></td>
  <td md-cell>
  <md-select ng-model="selected.province" aria-label="province" ng-change="selected.municipal=null" required>
  <md-option ng-repeat="option in provinces" value="{{option.province_id}}">{{option.province_name}}</md-option></md-select>
  </td>

  <td md-cell>
    <md-select ng-model="selected.municipal" aria-label="municipal" required>
    <md-option ng-repeat="option in municipals | filter: selected.province" value="{{option.municipal_id}}">{{option.municipal_name}}</md-option>
    </md-select>
  </td>

   <td md-cell>
    <md-select ng-model="selected.barangay" aria-label="barangay" required>
    <md-option ng-repeat="option in barangays | filter: selected.municipal" value="{{option.barangay_id}}">{{option.barangay_name}}</md-option>
    </md-select>
  </td>
  <td md-cell><md-input-container>
  <input ng-model="selected.contact" type="text" aria-label="contact" required>
  </md-input-container>
  </td>
    <td md-cell><md-input-container>
  <input ng-model="selected.email" type="email" aria-label="email" name="email" required>
  </md-input-container>
  </td>


  <td md-cell>
      <md-icon  md-svg-icon="content:ic_save_24px"  aria-label="save" ng-click="save(selected)"></md-icon>
       <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="cancel" ng-click="reset()"></md-icon>
  </td>
</script>