<md-dialog aria-label="Details">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h3>{{temp.month_name}}: {{temp.mfo_name}}</h3>
    <span flex></span>
    <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
  </div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content">
<md-table-container class="bordered striped">
<table md-table class="bordered striped">
  <thead md-head>
    <tr md-row>
      <td md-column>No.</td>
      <td md-column ng-show="temp.area=='yes'">Province</td>
      <td md-column ng-show="temp.area=='yes'">Municipal</td>
      <td md-column ng-show="temp.description">{{temp.description}}</td>
      <td md-column ng-show="temp.description1">{{temp.description1}}</td>  
      <td md-column ng-hide="temp.kiloA">Financial</td> 
     <td md-column>
      Action
     </td>     

    </tr>
  </thead>
  <tbody md-body>
    <tr md-row data-ng-repeat="x in kilo" ng-include="getTemplate(x)">       
    </tr>
  </tbody>
</table>
</md-table-container>
</div>
</md-dialog-content>

</md-dialog>

<div id="dialog-confirm">
</div>

<script type="text/ng-template" id="display">
<td md-cell>{{$index+1}}</td>
<td md-cell ng-show="temp.area=='yes'" ng-repeat="p in provinces | filter:{'province_id': x.province}:true">{{p.province_name}}</td>
<td md-cell ng-show="temp.area=='yes'" ng-repeat="m in municipals | filter:{'municipal_id': x.municipal}:true">{{m.municipal_name}}</td>

<td md-cell>{{x.kilo|number:2}}</td>
<td md-cell>Php {{x.financial|number:2}}</td>
<td md-cell>    
<md-icon ng-click="edit(x)" md-svg-icon="editor:ic_mode_edit_24px"  aria-label="edit"></md-icon>
<md-icon ng-click="del(x, temp.ind)" md-svg-icon="action:ic_delete_forever_24px"  aria-label="delete"></md-icon>
</td>
</script>

 <script type="text/ng-template" id="edit">
        <td md-cell>{{selected.id+1}}</td>
        <form name="myForm">
        <td md-cell ng-show="temp.area=='yes'" >
        <md-select ng-model="selected.province" aria-label="province" required>
        <md-option ng-repeat="option in provinces" value="{{option.province_id}}">{{option.province_name}}</md-option></md-select>
        </td>

        <td md-cell ng-show="temp.area=='yes'" >
          <md-select ng-model="selected.municipal" aria-label="municipal" required>
          <md-option ng-repeat="option in municipals | filter: selected.province" value="{{option.municipal_id}}">{{option.municipal_name}}</md-option>
          </md-select>
        </td>

        <td md-cell><md-input-container class="md-block" flex-gt-sm>
        <input ng-model="selected.kilo" type="number" step="0.01" aria-label="kilo" required>
        </md-input-container>
        </td>

        <td md-cell><md-input-container class="md-block"  flex-gt-sm>
        Php <input ng-model="selected.financial" type="number" step="0.01" aria-label="financial" required>
        </md-input-container>
        </td>
 
        <td md-cell>
            <md-icon ng-disabled="myForm.$invalid" md-svg-icon="content:ic_save_24px"  aria-label="save" ng-click="save(selected, kilo, $index)"></md-icon>
             <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="cancel" ng-click="reset()"></md-icon>
        </td>
        </form>
</script>