<md-dialog aria-label="Add Breakdown"  layout-padding ng-cloak flex="50">
  <form name="myForm">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h3>Beneficiary Details</h3>
    <span flex></span>
    <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
  </div>
</md-toolbar>

<md-dialog-content>
<div class="md-dialog-content">
  <md-input-container class="md-block" flex-gt-sm>
  <label for="selectMonth"> Month: </label>
  <md-select name="selectMonth" id="selectMonth" ng-model="temp.month" required>
  <md-option ng-repeat="option in months" value="{{option.id}}">{{option.month_name}}</md-option>
</md-select>
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
  <md-checkbox ng-model="temp.checked" aria-label="Checkbox 1">Specify:</md-checkbox>
</md-input-container>

<div class="check-element animate-hide" ng-show="temp.checked">
<md-input-container class="md-block" flex-gt-sm>
<label >Male:</label><br>
<input type="number" ng-model="temp.male">
</md-input-container>

<md-input-container class="md-block" flex-gt-sm>
<label >FeMale:</label>
<input type="number" ng-model="temp.female">
</md-input-container>
<b>Total Individuals:</b> {{(temp.male*1) + (temp.female*1)}}
</div>

<div class="check-element animate-hide" ng-hide="temp.checked">
<md-input-container class="md-block" flex-gt-sm>
<label >Individuals:</label>
<input type="number" ng-model="temp.ind">
</md-input-container>
</div>

<md-input-container class="md-block" flex-gt-sm>
<label>Groups:</label>
<input ng-model="temp.group" type="number">
</md-input-container>
</div>   
</md-dialog-content>
<md-dialog-actions layout="row">
<md-button class="md-raised md-primary"  ng-click="save()" ng-disabled="myForm.$invalid"><md-icon md-svg-icon="content:ic_save_24px"  aria-label="save" ng-click=""></md-icon>SAVE</md-button> 

</md-dialog-actions>
</form>
</md-dialog>

