
<md-content flex layout-padding>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<div class="card">
	<div class="card-content">
		<h4 class="center" style="padding:0px">Financial Performance Report</h4>
		<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
		<div google-chart chart="myChart" style="height:500px; width:100%;"></div>
		<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4"><h4 class="center">Financial Performance Report</h4>
			<i class="material-icons right">close</i></span>   				
			<md-content flex layout-padding>	
			<h4 class="center" style="padding:0px">Financial Summary Table</h4>
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
			<h5 class="center" style="padding:0px"><b>Annual Target:  &#8369 {{ob_all|number:2}}</b></h5>	
			<table  class="bordered striped">
				<thead >
					<tr >
						<th ><span>Months</span></th>
						<th ><span>Financial Target</span></th>
						<th ><span>Financial Accomplishment</span></th>
						<th ><span>Financial Accomplishment +</span></th>
						<th ><span>Percentage (FA/FT)</span></th>
						<th ><span>Percentage (FA/AT)</span></th>
						<th ><span>Percentage (FA+/AT)</span></th>
					</tr>
				</thead>
				<tbody >
					<tr  ng-repeat="x in q1 | limitTo:12">
						<th >{{x.month}}</th>
						<td><span ng-click="view(x.month_id, $event)"><a>{{x.ob.obl|number:2}}</a></span></td>
						<td ><span ng-click="view2(x.month_id, $event)"><a>{{x.oba.obl|number:2}}</a></span></td>
						<td >{{x.obaa|number:2}}</td>
						<td  ng-init="per_1 = (1*x.oba.obl)/(1*x.ob.obl)">{{per_1 | percentage:2}}</td>
						<td  ng-init="per_2 = (1*x.oba.obl)/(ob_all)">{{per_2 | percentage:2}}</td>
						<td  ng-init="per_3 = (1*x.obaa)/(ob_all)">{{per_3 | percentage:2}}</td>
					</tr>
					<tr>
						<th>TOTAL</th>
						<td>{{ttl|number:2}}</td>
						<td>{{ttla|number:2}}</td>
						<td>{{ttla|number:2}}</td>
						<td>{{(ttla/ttl)|percentage:2}}</td>
						<td>{{(ttla/ob_all)|percentage:2}}</td>
						<td>{{(ttla/ob_all)|percentage:2}}</td>
					</tr>

				</tbody>
			</table> 
		</md-content>
	</div>
</div>
</md-content>


<md-content flex layout-padding>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<div class="card">
	<div class="card-content">
		<h4 class="center" style="padding:0px">Physical Performance Report</h4>
		<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
		<div google-chart chart="myChart3" style="height:500px; width:100%;"></div>
		<span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4"><h4 class="center">Physical Performance Report</h4>
			<i class="material-icons right">close</i></span>   				
			<md-content flex layout-padding>	
		<h4 class="center" style="padding:0px">Physical Summary Table</h4>
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>

			<table  class="bordered striped">
				<thead >
					<tr >
						<th class="center" ><span>Unit of measure</span></th>
						<th class="center" ><span>Cost</span></th>
						<th class="center" ><span>AT</span></th>
						<th class="center" ><span>RW</span></th>
					</tr>
				</thead>
				<tbody >
					<tr ng-repeat="y in rowtotal">
						<td class="center">{{y.description}}</td>
						<td style="text-align: right">{{y.cost| number:2}}</td>
						<td style="text-align: right">{{ob_all|number:2}}</td>
						<!--td style="text-align: right">{{y.cost/ob_all|percentage:2}}</td-->
						<td style="text-align: right">{{y.rw|percentage:2}}</td>
					</tr>

				</tbody>
			</table> 
			<br>
			<div fixed-first-column style="width:100%;">
				<table  class="table bordered striped">
					<thead >
						<tr class="md-table-headers-row">
							<th ><span>Months</span></th>
							<th class="center" ng-repeat="y in rowtotal" colspan="2"><span>{{y.description}}</span></th>
							<th class="center" colspan="2"><span>Percentage</span></th>
							<th class="center" colspan="2"><span>+Percentage</span></th>
						</tr>
						<tr class="md-table-headers-row">
							<th ></th>
							<th class="center" ng-repeat-start="y in rowtotal"><span>P</span></th>
							<th class="center" ng-repeat-end="" ><span>WP</span></th>
							<th class="center" ><span>AP</span></th>
							<th class="center" ><span>TWP</span></th>
							<th class="center" ><span>+AP</span></th>
							<th class="center" ><span>+TWP</span></th>
						</tr>
					</thead>
					<tbody >
						<tr  ng-repeat="x in perAve">
							<th >{{x.description}}</th>
							<td ng-repeat-start="y in rowtotal track by $index" style="text-align: right">{{x[$index] | number:2}} % </td>
							<td ng-repeat-end="" style="text-align: right">{{x[$index]*y.rw | number:2}} % </td>
							<td style="text-align: right">{{x.ave}} % </td>
							<td style="text-align: right">{{x.aveRW}} % </td>
							<td style="text-align: right">{{x.sigma}} % </td>
							<td style="text-align: right">{{x.sigmaRW}} % </td>
						</tr>

					</tbody>
				</table> 
			</div>
		</md-content>
	</div>
</div>
</md-content>



<md-content flex layout-padding>
<div class="card">
	<div class="card-content">

		<span class="card-title grey-text text-darken-4"><h4 class="center">Physical Performance Report by Units</h4>	
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>	
			<div google-chart chart="myChart2" style="height:500px; width:100%;"></div>
			  <span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
		</div>
		<div class="card-reveal">
				<span class="card-title grey-text text-darken-4"><h4 class="center">Physical Performance Report by Units</h4>
			<i class="material-icons right">close</i></span>   	
			<md-content flex layout-padding>	
			<h4 class="center" style="padding:0px">Physical Summary Table by Units</h4>
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
			<div fixed-first-column style="width:100%;">
				<table class="table bordered striped">
					<thead>
						<tr class="md-table-headers-row">
							<th>Measurement</th>
							<th ng-repeat="h in header track by $index" colspan="6" class="center"><span>{{h.title}}</span></th>
						</tr>
						<tr >
							<th></th>
							<th class="center" ng-repeat-start="h in header track by $index" ng-show="$index>0" colspan="2"><b>PT</b></th>
							<th class="center" ng-if="$index>0"><b>PA</b></th>
							<th class="center" ng-if="$index==0"><b>COST</b></th>
							<th class="center" ng-if="$index==0"><b>RW</b></th>
							<th class="center" ng-if="$index==0"><b>APT</b></th>
							<th class="center" ng-if="$index==0"><b>APA</b></th>
							<th class="center" ng-if="$index==0"><b>PPA</b></th>
							<th class="center" ng-if="$index>0"><b>(PA/PT) %</b></th>
							<th class="center" ng-if="$index>0"><b>(PA/APT) %</b></th>
							<th class="center" ng-repeat-end=""><b>WPP</b></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="y in rowtotal track by $index" class="md-table-content-row">
							<td>{{y.description}}</td>
							<td style="text-align: right"><span >{{y.cost | number:2}}</span></td>
							<td style="text-align: right"><span >{{y.cost / ob_all | percentage:2}}</span></td>
							<td style="text-align: right"><span ng-click="viewP('','0',y.description,'T')"><a>{{y[0][0] | number:2}}</a></span></td>
							<td style="text-align: right"><span ng-click="viewP('','0',y.description,'A')"><a>{{y[0][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[0][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[0][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','1',y.description,'T')"><a>{{y[1][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','1',y.description,'A')"><a>{{y[1][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[1][1])/(y[1][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[1][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[1][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','2',y.description,'T')"><a>{{y[2][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','2',y.description,'A')"><a>{{y[2][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[2][1])/(y[2][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[2][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[2][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','3',y.description,'T')"><a>{{y[3][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','3',y.description,'A')"><a>{{y[3][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[3][1])/(y[3][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[3][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[3][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','4',y.description,'T')"><a>{{y[4][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','4',y.description,'A')"><a>{{y[4][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[4][1])/(y[4][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[4][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[4][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','5',y.description,'T')"><a>{{y[5][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','5',y.description,'A')"><a>{{y[5][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[5][1])/(y[5][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[5][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[5][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','6',y.description,'T')"><a>{{y[6][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','6',y.description,'A')"><a>{{y[6][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[6][1])/(y[6][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[6][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[6][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','7',y.description,'T')"><a>{{y[7][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','7',y.description,'A')"><a>{{y[7][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[7][1])/(y[7][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[7][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[7][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','8',y.description,'T')"><a>{{y[8][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','8',y.description,'A')"><a>{{y[8][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[8][1])/(y[8][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[8][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[8][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','9',y.description,'T')"><a>{{y[9][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','9',y.description,'A')"><a>{{y[9][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[9][1])/(y[9][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[9][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[9][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','10',y.description,'T')"><a>{{y[10][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','10',y.description,'A')"><a>{{y[10][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[10][1])/(y[10][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[10][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[10][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','11',y.description,'T')"><a>{{y[11][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','11',y.description,'A')"><a>{{y[11][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[11][1])/(y[11][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[11][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[11][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>
							<td colspan="2" style="text-align: right"><span ng-click="viewP('','12',y.description,'T')"><a>{{y[12][0] | number:2}}</a></td>
							<td style="text-align: right"><span ng-click="viewP('','12',y.description,'A')"><a>{{y[12][1] | number:2}}</a></td>
							<td style="text-align: right">{{((y[12][1])/(y[12][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[12][1])/(y[0][0])*100) | number:2}}</td>
							<td style="text-align: right">{{((y[12][1])/(y[0][0])*(y.cost / ob_all)) | percentage:2}}</td>

							<!--<td style="text-align: right">{{totalTSem(y) | number:2}}</td>
							<td style="text-align: right">{{totalASem(y) | number:2}}</td>
							<td style="text-align: right">{{((totalASem(y)/totalTSem(y))*100) | number:2}}</td>
							<td style="text-align: right">{{(totalASem(y)/(y[0][0])*100) | number:2}}</td>-->
						</tr>	
						<tr>
							<th>Total Percentage</th>
							<td>{{ob_all|number:2}}</td>
							<td style="text-align: right">100%</td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{perAve[11].sigmaRW|number:2}}%</td>
							<td colspan="2" ng-repeat-start="x in perAve track by $index"></td>
							<td></td>
							<td></td>
							<td></td>
							<td ng-repeat-end="" style="text-align: right">{{x.aveRW|number:2}}%</td>
							<!--<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[1]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[2]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[3]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[4]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[5]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[6]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{ave[7]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[8]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[9]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[10]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[11]}}%</td>
							<td colspan="2"></td>
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{aveRW[12]}}%</td>--><!--
							<td></td>
							<td></td>
							<td></td>
							<td style="text-align: right">{{ave[1]+ave[2]+ave[3]+ave[4]+ave[5]+ave[6]}}</td>-->
						</tr>	

					</tbody>
				</table>
			</div>

		</md-content>

	</div>
</div>
</md-content>


<md-content flex layout-padding ng-show="varid<17">
<div class="card">
	<div class="card-image">

</div>
<div class="card-content">

		<span class="card-title grey-text text-darken-4"><h4 class="center">Physical Performance Report by MFOs</h4>	
			<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>	
			<div google-chart chart="myChart4" style="height:500px; width:100%;"	></div>
			  <span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
</div>
<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><h4 class="center">Physical Performance Report by MFOs</h4>
			<i class="material-icons right">close</i></span>   
			<md-content flex layout-padding>	
		<h4 class="center" style="padding:0px">Physical Summary Table by MFOs</h4>
		<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
		<div fixed-first-column style="width:100%;">
			<table class="table bordered striped">
				<thead >
					<tr >
						<th><span>MFOs</span></th>
						<th class="center" colspan="6" ng-repeat="u in unit"><b>{{u.description}}</b></th>
						<th class="center"  colspan="2" >TOTAL</th>

					</tr>
					<!--<tr >
						<th></th>
						<th class="center" colspan="6"><b>Annual</b></th>
					</tr>-->
					<tr >
						<th></th>
						<th class="center" ng-repeat-start="h in unit track by $index"><b>COST</b></th>
						<th class="center"><b>RW</b></th>
						<th class="center"><b>PT</b></th>
						<th class="center"><b>PA</b></th>
						<th class="center"><b>%(PA/APT)</b></th>
						<th class="center" ng-repeat-end=""><b>WPP(%*ARW)</b></th>

						<th class="center"><b>WPT</b></th>
						<th class="center"><b>WPA</b></th>
					</tr>
				</thead>
				<tbody >
					<tr  ng-repeat="x in mfo |orderBy:predicate:false">
						<td >{{x.header_id}}. {{x.mfo_name}}</td>
						<td style="text-align: right" ng-repeat-start="u in unit track by $index"><span>{{x.total[$index]['mfocost'] | number:2}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'0',u.description,'T')">{{x.total[$index][0] | number:2}}</span></a></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'0',u.description,'A')">{{x.totala[$index][0] | number:2}}</span></a></td>
						<td style="text-align: right">{{(x.totala[$index][0])/(ttlunit[$index]) | percentage:2}}</td>
						<td ng-repeat-end="" style="text-align: right">{{((x.totala[$index][0])/(ttlunit[$index]))*(ttlrw[$index])|percentage:2}}</td>

						<th class="center"  style="text-align: right">{{x.trw|percentage:2}}</th>
						<th class="center"  style="text-align: right">{{x.twp|percentage:2}}</th>

						<!--<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'1',u.description,'T')">{{x.total[$index][1] | number:2}}</span></a></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'1',u.description,'A')">{{x.totala[$index][1] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][1])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][1])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'2',u.description,'T')">{{x.total[$index][2] | number:2}}</span></a></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'2',u.description,'A')">{{x.totala[$index][2] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][2])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][2])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><a><span ng-click="viewP(x.header_id,'3',u.description,'T')">{{x.total[$index][3] | number:2}}</span></a></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'3',u.description,'A')">{{x.totala[$index][3] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][3])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][3])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'4',u.description,'T')">{{x.total[$index][4] | number:2}}</span></a></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'4',u.description,'A')">{{x.totala[$index][4] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][4])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][4])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'5',u.description,'T')">{{x.total[$index][5] | number:2}}</span></a></td>
						<td style="text-align: right"><span ng-click="viewP(x.header_id,'5',u.description,'A')"> {{x.totala[$index][5] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][5])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][5])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'6',u.description,'T')">{{x.total[$index][6] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'6',u.description,'A')">{{x.totala[$index][6] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][6])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][6])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'7',u.description,'T')">{{x.total[$index][7] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'7',u.description,'A')">{{x.totala[$index][7] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][7])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][7])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'8',u.description,'T')">{{x.total[$index][8] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'8',u.description,'A')">{{x.totala[$index][8] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][8])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][8])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'9',u.description,'T')">{{x.total[$index][9] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'9',u.description,'A')">{{x.totala[$index][9] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][9])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][9])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'10',u.description,'T')">{{x.total[$index][10] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'10',u.description,'A')">{{x.totala[$index][10] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][10])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][10])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'11',u.description,'T')">{{x.total[$index][11] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'11',u.description,'A')">{{x.totala[$index][11] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][11])/(x.total[$index][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((x.totala[$index][11])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>

						<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right"><span>{{x.total[$index]['mfocost']/ob_all|percentage:2}}</span></td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'12',u.description,'T')">{{x.total[$index][12] | number:2}}</td>
						<td style="text-align: right"><a><span ng-click="viewP(x.header_id,'12',u.description,'A')">{{x.totala[$index][12] | number:2}}</span></a></td>
						<td style="text-align: right">{{((x.totala[$index][12])/(x.total[$index][0])*100) | number:2}}</td>
						<td ng-repeat-end="" style="text-align: right">{{((x.totala[$index][12])/(x.total[$index][0]))*(x.total[$index]['mfocost']/ob_all)|percentage:2}}</td>-->

						<!--<td style="text-align: right"><span>{{x.total[$index]['mfocost']}}</span></td>
						<td style="text-align: right">{{x.total[$index]['1stsem'] | number:2}}</td>
						<td style="text-align: right">{{x.totala[$index]['1stsem'] | number:2}}</td>
						<td ng-repeat-end=""style="text-align: right">{{((x.totala[$index]['1stsem'])/(x.total[$index]['1stsem'])*100) | number:2}}</td>-->
					</tr>
					<tr>
						<th>TOTAL</th>
						<td style="text-align: right" ng-repeat-start="y in mfototal track by $index"> {{y.mfocost | number:2}}</td>
						<td style="text-align: right">{{y.rw|percentage:2}}</td>
						<td style="text-align: right">{{y.total|number:2}}</td>
						<td style="text-align: right">{{y.totala|number:2}}</td>
						<td style="text-align: right">{{y.p|percentage:2}}</td>
						<td ng-repeat-end="" style="text-align: right"><b>{{y.wp|percentage:2}}</b></td>
						<td style="text-align: right">100%</td>
						<td style="text-align: right">{{mfototalall|percentage:2}}</td>
						<!--<td style="text-align: right" ng-repeat-start="y in unit track by $index"> {{y['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{y['total'][$index]['cost']/ob_all | number:2}} {{$index}}</td>
						<td style="text-align: right">{{y[0][0] | number:2}}</td>
						<td style="text-align: right">{{y[0][1] | number:2}}</td>
						<td style="text-align: right">{{((y[0][1])/(y[0][0])*100) | number:2}}</td>
						<td ng-repeat-end="" style="text-align: right">{{((y[0][1])/(y[0][0]))*(y['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[1][0] | number:2}}</td>
						<td style="text-align: right">{{y[1][1] | number:2}}</td>
						<td style="text-align: right">{{((y[1][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[1][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[2][0] | number:2}}</td>
						<td style="text-align: right">{{y[2][1] | number:2}}</td>
						<td style="text-align: right">{{((y[2][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[2][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[3][0] | number:2}}</td>
						<td style="text-align: right">{{y[3][1] | number:2}}</td>
						<td style="text-align: right">{{((y[3][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[3][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[4][0] | number:2}}</td>
						<td style="text-align: right">{{y[4][1] | number:2}}</td>
						<td style="text-align: right">{{((y[4][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[4][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[5][0] | number:2}}</td>
						<td style="text-align: right">{{y[5][1] | number:2}}</td>
						<td style="text-align: right">{{((y[5][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[5][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[6][0] | number:2}}</td>
						<td style="text-align: right">{{y[6][1] | number:2}}</td>
						<td style="text-align: right">{{((y[6][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[6][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[7][0] | number:2}}</td>
						<td style="text-align: right">{{y[7][1] | number:2}}</td>
						<td style="text-align: right">{{((y[7][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[7][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[8][0] | number:2}}</td>
						<td style="text-align: right">{{y[8][1] | number:2}}</td>
						<td style="text-align: right">{{((y[8][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[8][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[9][0] | number:2}}</td>
						<td style="text-align: right">{{y[9][1] | number:2}}</td>
						<td style="text-align: right">{{((y[9][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[9][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[10][0] | number:2}}</td>
						<td style="text-align: right">{{y[10][1] | number:2}}</td>
						<td style="text-align: right">{{((y[10][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[10][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[11][0] | number:2}}</td>
						<td style="text-align: right">{{y[11][1] | number:2}}</td>
						<td style="text-align: right">{{((y[11][1])/(y[0][0])*100) | number:2}}</td>
						<td style="text-align: right">{{((y[11][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>

						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost'] | number:2}}</td>
						<td style="text-align: right">{{rowtotal[0]['total'][$index]['cost']/ob_all | number:2}}</td>
						<td style="text-align: right">{{y[12][0] | number:2}}</td>
						<td style="text-align: right">{{y[12][1] | number:2}}</td>
						<td style="text-align: right">{{((y[12][1])/(y[0][0])*100) | number:2}}</td>
						<td ng-repeat-end="" style="text-align: right">{{((y[12][1])/(y[0][0]))*(rowtotal[0]['total'][$index]['cost']/ob_all) | number:2}}</td>-->

						<!--<td style="text-align: right">{{y[1][0] | number:2}}</td>
						<td style="text-align: right">{{y[1][1] | number:2}}</td>
						<td style="text-align: right">{{((y[1][1])/(y[1][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[2][0] | number:2}}</td>
						<td style="text-align: right">{{y[2][1] | number:2}}</td>
						<td style="text-align: right">{{((y[2][1])/(y[2][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[3][0] | number:2}}</td>
						<td style="text-align: right">{{y[3][1] | number:2}}</td>
						<td style="text-align: right">{{((y[3][1])/(y[3][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[4][0] | number:2}}</td>
						<td style="text-align: right">{{y[4][1] | number:2}}</td>
						<td style="text-align: right">{{((y[4][1])/(y[4][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[5][0] | number:2}}</td>
						<td style="text-align: right">{{y[5][1] | number:2}}</td>
						<td style="text-align: right">{{((y[5][1])/(y[5][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[6][0] | number:2}}</td>
						<td style="text-align: right">{{y[6][1] | number:2}}</td>
						<td style="text-align: right">{{((y[6][1])/(y[6][0])*100) | number:2}}</td>
						<td style="text-align: right">{{y[0]['1stsem'] | number:2}}</td>
						<td style="text-align: right">{{y[1]['1stsem'] | number:2}}</td>
						<td ng-repeat-end=""style="text-align: right">{{((y[1]['1stsem'])/(y[0]['1stsem'])*100) | number:2}}</td>-->
					</tr>

				</tbody>
			</table>
		</div>
	</md-content>

	</div>
</div>
</md-content>


<md-content flex layout-padding ng-show="varid<17">
<div class="card">
	<div class="card-image">

</div>
<div class="card-content">
	<div layout="row">
			<div google-chart chart="pieBene" style="height:500px; width:50%;"	flex></div>
			<div google-chart chart="barBene" style="height:500px; width:50%;"	flex></div>
		</div>
			  <span class="card-title activator grey-text text-darken-4">See Data Table<i class="material-icons right">more_vert</i></span>
</div>
<div class="card-reveal">
					<span class="card-title grey-text text-darken-4"><h4 class="center">Beneficiary Accomplishment</h4>
			<i class="material-icons right">close</i></span>   
	<md-content flex layout-padding>	
		<h4 class="center" style="padding:0px">Beneficiary Summary Table by Months</h4>
		<h5 class="center" style="padding:0px">as of {{date| date:'MMM dd, yyyy'}}</h5>
			<table class="table bordered striped">
				<thead >
					<tr >
						<th>Months</th>
						<th>Total Beneficiary Target</th>
						<th>Total Beneficiary Target+</th>
						<th>Total Individuals Accomplishment</th>
						<th>Total Individuals Accomplishment+</th>
						<th>Male</th>
						<th>Female</th>
						<th>Percentage</th>
						<th>Percentage+</th>
			
					</tr>
				</thead>
				<tbody >
				<tr ng-repeat="x in total track by $index">
					<td>{{x.month_name}}</td>
					<td>{{x.total}}</td>
					<td>{{x.rt}}</td>
					<td><a ng-click="viewBene($index)">{{bene[$index].ind}}</a></td>
					<td>{{bene[$index].rt}}</td>
					<td>{{bene[$index].male}}</td>
					<td>{{bene[$index].female}}</td>
					<td>{{(bene[$index].ind/x.total)|percentage:2}}</td>
					<td>{{(bene[$index].rt/overall_bene)|percentage:2}}</td>
				</tr>

				</tbody>
			</table>
		</div>
	</md-content>

</div>
</md-content>