 <md-toolbar layout="row" layout-align="space-between center" md-theme="altTheme" class="md-hue-2">
 <md-button class="md-icon-button"  ng-click="openLeftMenu()" aria-label="Show Menu">    
 <md-icon md-svg-src="svg/menu.svg" md-48></md-icon>
</md-button>
<h2><span>PMIS</span></h2>
<span>
  <md-button ng-click="showGridBottomSheet($event)" aria-label="Show Settings">
  <md-icon md-svg-src="svg/settings.svg" md-48></md-icon>
</md-button>
</span>
</md-toolbar>

<div flex layout="row">

  <md-sidenav  md-component-id="left" class="md-whiteframe-4dp" >  
  <md-toolbar class="md-tall md-hue-2">
  <span flex></span>
  <div layout="column" class="md-toolbar-tools-bottom inset">
    <user-avatar></user-avatar>
       <span flex></span>
        <div class="md-body-2">Firstname Lastname</div>
        <div class="md-body-1">email@domainname.com</div> 
  </div>
</md-toolbar> 

  <ul class="collapsible" data-collapsible="accordion">
    <!--<li md-list>
      <div class="collapsible-header" ui-sref="admin" ng-click="closeSidenav()">ALL</div>
      </li md-list>

      <li md-list  ng-repeat="item in banners">
      <div class="collapsible-header" ui-sref="{{item.sref}}" ng-click="closeSidenav()">{{item.title}}</div>
      </li md-list>-->
      <li md-list>
      <div class="collapsible-header" ui-sref="admin" ng-click="closeSidenav()"><span class="md-body-2" >Department of Agriculture</span></div>
      </li md-list>

     <li md-list ng-repeat="item in banners" >
          <div class="collapsible-header" ng-click="closeSidenav()" ui-sref="{{item.sref}}">
            <span class="md-body-2" >{{item.title}}</span>
          </div>
      </li md-list>

      <li md-list>
      <div class="collapsible-header"><span class="md-body-2" >Regular Program</span></div>
        <md-list-item class="collapsible-body" ng-repeat="item in regular" role="link" md-ink-ripple>
          <md-icon md-svg-icon="{{item.icon}}"  aria-label="{{item.title}}"></md-icon>
          <div class="md-list-item-text" ui-sref="{{item.sref}}" ng-click="closeSidenav()">
            <span class="md-body-2" >{{item.title}}</span>
          </div>
        </li md-list>

     <li md-list>
      <div class="collapsible-header">Operating Units</div>
        <md-list-item class="collapsible-body" ng-repeat="item in ous" role="link" md-ink-ripple>
          <md-icon md-svg-icon="{{item.icon}}"  aria-label="{{item.title}}"></md-icon>
          <div class="md-list-item-text" ui-sref="{{item.sref}}" ng-click="closeSidenav()">
            <span class="md-body-2" >{{item.title}}</span>
          </div>
        </li md-list>
      <!--</md-list>-->
  </ul>

</md-sidenav>

<md-content layout-fill layout-align="center center" flex id="content">
<h3>Welcome {{name}} <md-icon md-svg-icon="action:ic_date_range_24px"  aria-label="date"></md-icon> {{currentTime|displaydate}}</h3>
<div ui-view="viewA"></div> 
</md-content>

</div>