<md-card>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<md-tabs md-dynamic-height md-border-bottom>
<md-tab label="Physical">
<md-content class="md-padding">
<md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
          <div ng-hide="toggleSearch" class="md-toolbar-item">
            <span ng-click="toggleSearch = !toggleSearch">Physical Plan-2016</span>
          </div>  
          <span flex="flex" ng-hide="toggleSearch"></span>

          <md-input-container flex="flex" style="padding-left:88px;"  ng-show="toggleSearch">
            <input type="text" ng-model="search" aria-label="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item"><md-icon md-svg-src="svg/search.svg"  aria-label="search" ng-click="toggleSearch = !toggleSearch"></md-icon>
            <md-tooltip>SEARCH</md-tooltip>
          </div>
        </div>
      </div>
</md-toolbar>

<md-table-container>
<div fixed-first-column>
<table md-table class="table table-condensed table-striped" id="table1">
	<thead md-head>
		<tr md-row class="md-table-headers-row">
			<th><span>MFOs</span></th>
			<th><span>Jan</span></th>
			<th><span>Feb</span></th>
			<th><span>Mar</span></th>
			<th><span>Apr</span></th>
			<th><span>May</span></th>
			<th><span>Jun</span></th>
			<th><span>Jul</span></th>
			<th><span>Aug</span></th>
			<th><span>Sep</span></th>
			<th><span>Oct</span></th>
			<th><span>Nov</span></th>
			<th><span>Dec</span></th>
			<th><span>Tot</span></th>
		</tr>
	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in mfos | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">

      <!-- fixedfirstcolumn-->
      <td md-cell ng-if="x.clickable=='no' "> <b>{{x.mfo_name}}</b></td>
			<td md-cell ng-if="x.clickable=='yes' && x.unitofmeasure!='1'"><a ng-click="myBreakdown(x, mfos, $event)">{{x.mfo_name}}</a></td>
      <td md-cell ng-if="x.clickable=='yes' && x.unitofmeasure=='1'"><a  ng-click="myBene(x, mfos, $event)">{{x.mfo_name}}</a></td>
      <!-- fixedfirstcolumn-->


			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '1', $event)">{{x.kilo[0].kt |number:2}}</span></td> 
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '2', $event)">{{x.kilo[1].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '3', $event)">{{x.kilo[2].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '4', $event)">{{x.kilo[3].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '5', $event)">{{x.kilo[4].kt |number:2}}</span</td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '6', $event)">{{x.kilo[5].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '7', $event)">{{x.kilo[6].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '8', $event)">{{x.kilo[7].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '9', $event)">{{x.kilo[8].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '10', $event)">{{x.kilo[9].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '11', $event)">{{x.kilo[10].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '12', $event)">{{x.kilo[11].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				{{
				(1*x.kilo[0].kt)+
				(1*x.kilo[1].kt)+
				(1*x.kilo[2].kt)+
				(1*x.kilo[3].kt)+
				(1*x.kilo[4].kt)+
				(1*x.kilo[5].kt)+
				(1*x.kilo[6].kt)+
				(1*x.kilo[7].kt)+
				(1*x.kilo[8].kt)+
				(1*x.kilo[9].kt)+
				(1*x.kilo[10].kt)+
				(1*x.kilo[11].kt)|number:2}}</td>


		
			<td md-cell ng-show="x.clickable=='no'"><br></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>


			

			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '1', $event)">{{x.ben[0].b}}- {{x.ben[0].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '2', $event)">{{x.ben[1].b}}- {{x.ben[1].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '3', $event)">{{x.ben[2].b}}- {{x.ben[2].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '4', $event)">{{x.ben[3].b}}- {{x.ben[3].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '5', $event)">{{x.ben[4].b}}- {{x.ben[4].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '6', $event)">{{x.ben[5].b}}- {{x.ben[5].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '7', $event)">{{x.ben[6].b}}- {{x.ben[6].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '8', $event)">{{x.ben[7].b}}- {{x.ben[7].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '9', $event)">{{x.ben[8].b}}- {{x.ben[8].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '10', $event)">{{x.ben[9].b}}- {{x.ben[9].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '11', $event)">{{x.ben[10].b}}- {{x.ben[10].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '12', $event)">{{x.ben[11].b}}- {{x.ben[11].g}}</span></td>	
      <td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
        {{
        (1*x.ben[0].b)+
        (1*x.ben[1].b)+
        (1*x.ben[2].b)+
        (1*x.ben[3].b)+
        (1*x.ben[4].b)+
        (1*x.ben[5].b)+
        (1*x.ben[6].b)+
        (1*x.ben[7].b)+
        (1*x.ben[8].b)+
        (1*x.ben[9].b)+
        (1*x.ben[10].b)+
        (1*x.ben[11].b)}} -
         {{
        (1*x.ben[0].g)+
        (1*x.ben[1].g)+
        (1*x.ben[2].g)+
        (1*x.ben[3].g)+
        (1*x.ben[4].g)+
        (1*x.ben[5].g)+
        (1*x.ben[6].g)+
        (1*x.ben[7].g)+
        (1*x.ben[8].g)+
        (1*x.ben[9].g)+
        (1*x.ben[10].g)+
        (1*x.ben[11].g)}} </td>
		</tr>

	</tbody>
</table>
</div>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{mfos.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

<md-tab label="Financial">
<md-content class="md-padding">
<md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
          <div ng-hide="toggleSearch" class="md-toolbar-item">
            <span ng-click="toggleSearch = !toggleSearch">Financial Plan-2016</span>
          </div>  
          <span flex="flex" ng-hide="toggleSearch"></span>

          <md-input-container flex="flex" style="padding-left:88px;"  ng-show="toggleSearch">
            <input type="text" ng-model="search" aria-label="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item"><md-icon md-svg-src="svg/search.svg"  aria-label="search" ng-click="toggleSearch = !toggleSearch"></md-icon>
            <md-tooltip>SEARCH</md-tooltip>
          </div>
        </div>
      </div>
</md-toolbar>

<md-table-container>
<div fixed-first-column>
<table md-table class="table table-condensed table-striped">
	<thead md-head>
		<tr md-row>
			<td md-column><span>MFOs</span></td>
			<td md-column><span>Jan</span></td>
			<td md-column><span>Feb</span></td>
			<td md-column><span>Mar</span></td>
			<td md-column><span>Apr</span></td>
			<td md-column><span>May</span></td>
			<td md-column><span>Jun</span></td>
			<td md-column><span>Jul</span></td>
			<td md-column><span>Aug</span></td>
			<td md-column><span>Sep</span></td>
			<td md-column><span>Oct</span></td>
			<td md-column><span>Nov</span></td>
			<td md-column><span>Dec</span></td>
			<td md-column><span>Tot</span></td>
		</tr>
	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in mfos | limitTo: query.limit : (query.page -1) * query.limit">
						
			<td md-cell ng-if="x.clickable=='yes' && x.input=='no' && x.unitofmeasure!='1'">{{x.mfo_name}}</td>
      <td md-cell ng-if="x.clickable=='no' && x.output=='no' ">
      <b>{{x.mfo_name}}</b></td>
      <td md-cell ng-if="x.clickable=='yes' && x.input=='no'&& x.unitofmeasure=='1'">
      {{x.mfo_name}}</td>


			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[0].ft|number:0}} </td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[1].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[2].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[3].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[4].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[5].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[6].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[7].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[8].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[9].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[10].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[11].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
				{{
				(1*x.fin[0].ft)+
				(1*x.fin[1].ft)+
				(1*x.fin[2].ft)+
				(1*x.fin[3].ft)+
				(1*x.fin[4].ft)+
				(1*x.fin[5].ft)+
				(1*x.fin[6].ft)+
				(1*x.fin[7].ft)+
				(1*x.fin[8].ft)+
				(1*x.fin[9].ft)+
				(1*x.fin[10].ft)+
				(1*x.fin[11].ft)|number:2}}</td>

	
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>

		
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
		</tr>

	</tbody>
</table>
</div>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{mfos.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

</md-tabs>
</md-card>
