<md-card>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<md-tabs md-dynamic-height md-border-bottom>
<!--
<md-tab label="User's Guide">
<md-content class="md-padding" ng-hide="isLoading" layout-xs="column" layout="row">
<md-toolbar class="md-table-toolbar md-default">
 <md-card>
 <md-card-content>
 	<div class="md-toolbar-item">
         <span class="md-headline">I. System Overview</span>
    </div>
<p>The purpose of the Performance Management Information System (PMIS) is to house data regarding the work and financial plan (the baseline) of every banners/programs based from the Major Final Outputs (MFOs) of the department and the accomplishment of each banners/programs. This data is then processed, integrated, and stored in a centralized database (or data warehouse) where it is constantly updated and made available to all who have the authority to access it, in a form that suits the department's purpose.</p>
</md-card-content>
 </md-card>
  <md-card>
 <md-card-content>
	<div class="md-toolbar-item">
         <span class="md-headline">II. Homepage Menu</span>
    </div>
     <img  src="images/start.png" >
 </md-card-content>
  </md-card>
   <md-card>
   <div class="md-toolbar-item">
         <span class="md-headline">III. Data Inputs</span>
    </div>
     <md-card-title>
          <md-card-title-text>
            <span class="md-headline">A. My WFP</span>
          </md-card-title-text>
        </md-card-title>
<md-card-content>
	<p>My Work and Financial Plan (WFP) menu is the default page of the PMIS after you log-in in the system. This is the first step where you input your work and financial plan (baseline). It includes physical and financial inputs where you can navigate it through clicking the tabs. The physical and financial tab displays a table data of MFOs (filtered according to banners/programs applicability) and the months from January to December. The MFOs indicators are clickable except for the headers, the usable forms will pop-up where you inputs your raw data.</p>
 </md-card-content>
 </md-card>
   	<span class="md-headline">Useable Forms</span>
   <div layout="row">
      <md-card flex>
        <div layout="column">
         <p><b>1. Beneficiary Form</b></p>
        <img ng-src="images/bene.png" alt="Beneficiary Forms"  flex="60">
    	</div>
     <p>To add a beneficiary details:</p>
     <ol><li>Select the month - this is required to enable the save button</li>
     	<li>Check the specify button to enter the number of specific male and female beneficiary</li>
     	<li>Otherwise uncheck the specify to enter the total number of individuals beneficiary</li>
     	<li>Enter the total number of groups</li>
     	<li>Click save button when done</li>
     </ol>
    </md-card>
      <md-card flex>
   
      <p>After you click the save button the value will display in the cell corresponding to the month and the MFOs indicator as shown in the figure below.</p>
      <div layout="column">
      	 <img ng-src="images/bene1.png" alt="Beneficiary Forms" flex="33">
      </div>
      <p>The value inside the cells are clickable and it will display a table beneficiary details as shown in the figure below.</p>
      <div layout="column">
      	 <img ng-src="images/bene2.png" alt="Beneficiary Forms" flex="33">
      </div>
       <p>To edit/delete the benefeciary details:</p>
       <ol><li>To change the value, just click the edit action button then the feilds will become editable. When done, click the save button</li>
       	<li>To delte the value, just click the delete action button then the warning modal will pop-up to confirm if you want to permanently delete the value by clicking YES or NO.</li>
       </ol>
    </md-card>
</div>
   <div layout="row">
      <md-card flex>
        <div layout="column">
         <p><b>2. Physical & Financial Form</b></p>
        <img ng-src="images/kilo.png" alt="Beneficiary Forms"  flex="60">
    	</div>
     <p>To add a physical and financial value:</p>
     <ol>
     	<li>Click the MFOs indicator you want to add a physical and financial value, then the adding form will pop-up</li>
     	<li>Select a month - this is required to enable the save button</li>
     	<li>Select a province - this is required to enable the save button</li>
     	<li>Select a municipal - this is optional and will disable if you select RFO</li>
 		<li>Enter the physical value, the units will depend on the MFOs indicator</li>
 		<li>Enter the financial value</li>
     	<li>Click save button when done</li>
     </ol>
    </md-card>
      <md-card flex>
   
      <p>After you click the save button the physical value will display in the cell corresponding to the month and the MFOs indicator as shown in the figure below. But the financial value is displayed in another table in financial tab.</p>
      <div layout="column">
      	 <img ng-src="images/kilo1.png" alt="Beneficiary Forms" flex="33">
      </div>
      <p>The value inside the cells are clickable and it will display a table of physical and financial breakdown details as shown in the figure below.</p>
      <div layout="column">
      	 <img ng-src="images/kilo2.png" alt="Beneficiary Forms" flex="33">
      </div>
       <p>To edit/delete the physical and financial value:</p>
       <ol><li>To change the value, just click the edit action button then the feilds will become editable. When done, click the save button</li>
       	<li>To delete the value, just click the delete action button then the warning modal will pop-up to confirm if you want to permanently delete the value by clicking YES or NO.</li>
       </ol>
    </md-card>
</div>
  <md-card>
   <div class="md-toolbar-item">
         <span class="md-headline">B. BEDs</span>
    </div>

<md-card-content>
	<p>Budget Execution Documents composed of BED-1 which is the financial obligation summary and BED-2 which is the physical target summary. The BED1 and BED2 display only the filtered MFOs indicator that has a value in the work and financial plan inputs.</p> 
	 <div layout="row">
	 <div layout="column" flex>
	<p class="md-padding">In BED-1, the financial obligation should be inputted in the table corresponding to the months and MFOs indicator by clicking the cell an edit dialog will display and it's now ready to be inputted. When done, hit the enter button to save the data. If you wish to change/delete the data, just click the value and change the number or delete it by hitting the backspace and hit enter. Please see the figure below.</p> 


	  <img  src="images/kilo3.png" flex="50">
	</div>
	 <div layout="column" flex>
	 <p class="md-padding">In BED-2, the table display the physical value summary of each MFOs indicator by months and quarter. This table is uneditable, if you wish to change the value you can change it in the My WFP section. Please see the figure below. </p> 
<img  src="images/kilo4.png" flex="50">
	 </div>
	</div>
 </md-card-content>
 </md-card>

 <md-card>
   <div class="md-toolbar-item">
         <span class="md-headline">C. Quarter</span>
    </div>

<md-card-content>
	<p>The accomplishment data of physical and financial will be inputted in the quarter menu. This section displays a filtered MFOs indicator in the table by quarter namely 1st Quarter, 2nd Quarter, 3rd Quarter and 4th Quarter. It includes adding remarks in each indicator except for the header.</p> 
	 <div layout="row">
	 <div layout="column" flex>
	<p class="md-padding">
	 <b>How to add Physical Accomplishment data?</b><br>
	 <ol>
         	<li>Click the MFOs indicator. Only the italized indicator is clickable.</li>
      		<li>The modal form will display ready to input.</li>
      		<li>All fields are required to enable the save button.</li>
      		<li>After you click the save button, then the value will display in the physical column based to the month you select.</li>   
      	</ol>
      	See the adding form figure below.</p> 


	  <img  src="images/acc.png" flex="50">
	</div>
	 <div layout="column" flex>
	 <p class="md-padding">
	 <b>How to edit or delete Physical Accomplishment data?</b><br>
	 <ol>
  			<li>Click the cell in the physical column you want to edit or delete.</li>
  			<li>Then the table will display the details.</li>
  			<li>In the action column, you choose if you wish to edit or delete.</li>
  			<li>If you choose delete, then the dialog will open with an action of yes or no.</li>
  			<li>If you click yes, then the data will permanently deleted. Otherwise, the dialog will close.</li>
  			<li>If you wish to edit, then click the edit icon in the action column.</li>
  			<li>The cell will become editable and ready to edit.</li>
  			<li>Click the save button to save changes. Otherwise click cancel.</li>
  		</ol> </p> 
<img  src="images/acc1.png" flex="30">
	 </div>
	</div>

	 <div layout="row">
	 <div layout="column" flex>
	<p class="md-padding">
	 <b>How to add/edit/delete Financial Accomplishment data?</b><br>
	   <ol>
         	<li>Click the cell of the financial column corresponing to the month and the MFOs indicator you want to add.</li>
         	<li>The small dialog will open and ready to input.</li>
         	<li>Press the enter button to save.</li>
         	<li>If you wish to update or delete the value, just click again the cell of the financial column corresponding to the mfo indicator</li>
         	<li>The dialog will open ready to change the data or delete the value.</li>
         	<li>Press the hit the enter button to save changes.</li>  	
         </ol>
      	See the  figure below.</p> 

	  <img  src="images/acc2.png" flex="20">
	</div>
	 <div layout="column" flex>
	 <p class="md-padding">
		<b>How to add/edit/delete remarks?</b><br>
	 <ol>
  			<li>To add just click the cell in the remarks column corresponding to the MFOs indicator.</li>
  			<li>Then, the dialog will opn ready to input (the remark texts can only hold 20 character)</li>
  			<li>Hit the enter button to save the data</li>
  			<li>To edit, just click again the cell and change the text and hit enter to save changes</li>
  			<li>To delete, just click again the cell and hit backspace to erase the text</li>
  		
  		</ol> 	See the  figure below.</p> 
<img  src="images/acc3.png" flex="20">
	 </div>
	</div>
 </md-card-content>
 </md-card>

   <md-card>
   <div class="md-toolbar-item">
         <span class="md-headline">IV. Data Outputs</span>
    </div>
     <md-card-title>
          <md-card-title-text>
            <span class="md-headline">A. Reports</span>
          </md-card-title-text>
        </md-card-title>
<md-card-content>
	<p>The Report menu section composed of </p>
 </md-card-content>
 </md-card>

</md-content>
</md-tab>
-->




<md-tab label="Physical">
<md-content class="md-padding">
<md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
          <div ng-hide="toggleSearch" class="md-toolbar-item">
            <span ng-click="toggleSearch = !toggleSearch">Physical Plan-2016</span>
          </div>  
          <span flex="flex" ng-hide="toggleSearch"></span>

          <md-input-container flex="flex" style="padding-left:88px;"  ng-show="toggleSearch">
            <input type="text" ng-model="search" aria-label="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item"><md-icon md-svg-src="svg/search.svg"  aria-label="search" ng-click="toggleSearch = !toggleSearch"></md-icon>
            <md-tooltip>SEARCH</md-tooltip>
          </div>
        </div>
      </div>
</md-toolbar>

<md-table-container>
<div fixed-first-column>
<table md-table class="table table-condensed table-striped" id="table1">
	<thead md-head>
		<tr md-row class="md-table-headers-row">
			<th><span>MFOs</span></th>
			<th><span>Jan</span></th>
			<th><span>Feb</span></th>
			<th><span>Mar</span></th>
			<th><span>Apr</span></th>
			<th><span>May</span></th>
			<th><span>Jun</span></th>
			<th><span>Jul</span></th>
			<th><span>Aug</span></th>
			<th><span>Sep</span></th>
			<th><span>Oct</span></th>
			<th><span>Nov</span></th>
			<th><span>Dec</span></th>
			<th><span>Tot</span></th>
		</tr>
	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in mfos | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">

      <!-- fixedfirstcolumn-->
      <td md-cell ng-if="x.clickable=='no' "> <b>{{x.mfo_name}}</b></td>
			<td md-cell ng-if="x.clickable=='yes' && x.unitofmeasure!='1'"><a ng-click="myBreakdown(x, mfos, $event)">{{x.mfo_name}}</a></td>
      <td md-cell ng-if="x.clickable=='yes' && x.unitofmeasure=='1'"><a  ng-click="myBene(x, mfos, $event)">{{x.mfo_name}}</a></td>
      <!-- fixedfirstcolumn-->


			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '1', $event)">{{x.kilo[0].kt |number:2}}</span></td> 
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '2', $event)">{{x.kilo[1].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '3', $event)">{{x.kilo[2].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '4', $event)">{{x.kilo[3].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '5', $event)">{{x.kilo[4].kt |number:2}}</span</td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '6', $event)">{{x.kilo[5].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '7', $event)">{{x.kilo[6].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '8', $event)">{{x.kilo[7].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '9', $event)">{{x.kilo[8].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '10', $event)">{{x.kilo[9].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '11', $event)">{{x.kilo[10].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				<span ng-click="myKilo(x, mfos, '12', $event)">{{x.kilo[11].kt |number:2}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure!='1'">
				{{
				(1*x.kilo[0].kt)+
				(1*x.kilo[1].kt)+
				(1*x.kilo[2].kt)+
				(1*x.kilo[3].kt)+
				(1*x.kilo[4].kt)+
				(1*x.kilo[5].kt)+
				(1*x.kilo[6].kt)+
				(1*x.kilo[7].kt)+
				(1*x.kilo[8].kt)+
				(1*x.kilo[9].kt)+
				(1*x.kilo[10].kt)+
				(1*x.kilo[11].kt)|number:2}}</td>


		
			<td md-cell ng-show="x.clickable=='no'"><br></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>
			<td md-cell ng-show="x.clickable=='no'"></td>


			

			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '1', $event)">{{x.ben[0].b}}- {{x.ben[0].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '2', $event)">{{x.ben[1].b}}- {{x.ben[1].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '3', $event)">{{x.ben[2].b}}- {{x.ben[2].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '4', $event)">{{x.ben[3].b}}- {{x.ben[3].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '5', $event)">{{x.ben[4].b}}- {{x.ben[4].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '6', $event)">{{x.ben[5].b}}- {{x.ben[5].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '7', $event)">{{x.ben[6].b}}- {{x.ben[6].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '8', $event)">{{x.ben[7].b}}- {{x.ben[7].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '9', $event)">{{x.ben[8].b}}- {{x.ben[8].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '10', $event)">{{x.ben[9].b}}- {{x.ben[9].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '11', $event)">{{x.ben[10].b}}- {{x.ben[10].g}}</span></td>
			<td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
				<span ng-click="myBen(x, mfos, '12', $event)">{{x.ben[11].b}}- {{x.ben[11].g}}</span></td>	
      <td md-cell ng-show="x.clickable=='yes' && x.unitofmeasure=='1'">
        {{
        (1*x.ben[0].b)+
        (1*x.ben[1].b)+
        (1*x.ben[2].b)+
        (1*x.ben[3].b)+
        (1*x.ben[4].b)+
        (1*x.ben[5].b)+
        (1*x.ben[6].b)+
        (1*x.ben[7].b)+
        (1*x.ben[8].b)+
        (1*x.ben[9].b)+
        (1*x.ben[10].b)+
        (1*x.ben[11].b)}} -
         {{
        (1*x.ben[0].g)+
        (1*x.ben[1].g)+
        (1*x.ben[2].g)+
        (1*x.ben[3].g)+
        (1*x.ben[4].g)+
        (1*x.ben[5].g)+
        (1*x.ben[6].g)+
        (1*x.ben[7].g)+
        (1*x.ben[8].g)+
        (1*x.ben[9].g)+
        (1*x.ben[10].g)+
        (1*x.ben[11].g)}} </td>
		</tr>

	</tbody>
</table>
</div>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{mfos.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

<md-tab label="Financial">
<md-content class="md-padding">
<md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
          <div ng-hide="toggleSearch" class="md-toolbar-item">
            <span ng-click="toggleSearch = !toggleSearch">Financial Plan-2016</span>
          </div>  
          <span flex="flex" ng-hide="toggleSearch"></span>

          <md-input-container flex="flex" style="padding-left:88px;"  ng-show="toggleSearch">
            <input type="text" ng-model="search" aria-label="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item"><md-icon md-svg-src="svg/search.svg"  aria-label="search" ng-click="toggleSearch = !toggleSearch"></md-icon>
            <md-tooltip>SEARCH</md-tooltip>
          </div>
        </div>
      </div>
</md-toolbar>

<md-table-container>
<div fixed-first-column>
<table md-table class="table table-condensed table-striped">
	<thead md-head>
		<tr md-row>
			<td md-column><span>MFOs</span></td>
			<td md-column><span>Jan</span></td>
			<td md-column><span>Feb</span></td>
			<td md-column><span>Mar</span></td>
			<td md-column><span>Apr</span></td>
			<td md-column><span>May</span></td>
			<td md-column><span>Jun</span></td>
			<td md-column><span>Jul</span></td>
			<td md-column><span>Aug</span></td>
			<td md-column><span>Sep</span></td>
			<td md-column><span>Oct</span></td>
			<td md-column><span>Nov</span></td>
			<td md-column><span>Dec</span></td>
			<td md-column><span>Tot</span></td>
		</tr>
	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in mfos | limitTo: query.limit : (query.page -1) * query.limit">
						
			<td md-cell ng-if="x.clickable=='yes' && x.input=='no' && x.unitofmeasure!='1'">{{x.mfo_name}}</td>
      <td md-cell ng-if="x.clickable=='no' && x.output=='no' ">
      <b>{{x.mfo_name}}</b></td>
      <td md-cell ng-if="x.clickable=='yes' && x.input=='no'&& x.unitofmeasure=='1'">
      {{x.mfo_name}}</td>


			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[0].ft|number:0}} </td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[1].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[2].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[3].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[4].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[5].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[6].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[7].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[8].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[9].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[10].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
			{{x.fin[11].ft|number:0}}</td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='no' && x.input=='no'">
				{{
				(1*x.fin[0].ft)+
				(1*x.fin[1].ft)+
				(1*x.fin[2].ft)+
				(1*x.fin[3].ft)+
				(1*x.fin[4].ft)+
				(1*x.fin[5].ft)+
				(1*x.fin[6].ft)+
				(1*x.fin[7].ft)+
				(1*x.fin[8].ft)+
				(1*x.fin[9].ft)+
				(1*x.fin[10].ft)+
				(1*x.fin[11].ft)|number:2}}</td>

	
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "></td>

		
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
			<td md-cell ng-show="x.clickable=='yes' && x.output=='yes' && x.input=='no'"></td>
		</tr>

	</tbody>
</table>
</div>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{mfos.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

</md-tabs>
</md-card>