<md-card>
<md-progress-linear md-mode="indeterminate" ng-show="isLoading"></md-progress-linear>
<md-toolbar class="md-table-toolbar md-default">
      <div class="md-toolbar-tools">
        <div layout="row" flex="flex" class="fill-height">
          <div ng-hide="toggleSearch" class="md-toolbar-item">
          	<span ng-click="toggleSearch = !toggleSearch">RICE-PHYSICAL</span>
          </div>
          <span flex="flex" ng-hide="toggleSearch"></span>
          <md-input-container flex="flex" style="padding-left:88px;"  ng-show="toggleSearch">
            <input type="text" ng-model="search" aria-label="search"/>
          </md-input-container>
          <div layout="row" class="md-toolbar-item"><img ng-click="toggleSearch = !toggleSearch" class="icon" src="svg/search.svg" ><md-tooltip>SEARCH</md-tooltip>
          </div>
        </div>
      </div>
</md-toolbar>
<md-tabs md-dynamic-height md-border-bottom ng-hide="isLoading">
<md-tab label="Q1">
<md-content class="md-padding">
<md-table-container>
<table md-table class="bordered striped">
	<thead md-head>
		<tr md-row class="md-table-headers-row">
			<td rowspan="2" md-column><span>MFOs</span></td>
			<td md-column><span>Annual Targets</span></td>
			<td md-column colspan="4"><span>Targets</span></td>
			<td md-column colspan="4"><span>Accomplishment</span></td>
		</tr>
		<tr md-row class="md-table-headers-row">
			<td md-column><span>Unit</span></td>
			<td md-column><span>Jan</span></td>
			<td md-column><span>Feb</span></td>
			<td md-column><span>Mar</span></td>
			<td md-column><span>Q1</span></td>
			<td md-column><span>Jan</span></td>
			<td md-column><span>Feb</span></td>
			<td md-column><span>Mar</span></td>
			<td md-column><span>Q1</span></td>
		</tr>

	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in rice | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">
		
			<td md-cell ng-show="x.clickable=='yes' && x.input=='no' "><span>{{x.mfo_name}}</span></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "><span><b>{{x.mfo_name}} </b></span></td>
			<td md-cell>{{x.kilot|number:2}} {{x.unit}}</td>
			<td md-cell>{{x.kilo[1].kilo|number:2}}</td>
			<td md-cell>{{x.kilo[2].kilo|number:2}}</td>
			<td md-cell>{{x.kilo[3].kilo|number:2}}</td>
			<td md-cell>{{(1*x.kilo[1].kilo)+(1*x.kilo[2].kilo)+(1*x.kilo[3].kilo)|number:2}}</td>
			<td md-cell>{{x.kiloa[1].kiloa|number:2}}</td>
			<td md-cell>{{x.kiloa[2].kiloa|number:2}}</td>
			<td md-cell>{{x.kiloa[3].kiloa|number:2}}</td>
			<td md-cell>{{(1*x.kiloa[1].kiloa)+(1*x.kiloa[2].kiloa)+(1*x.kiloa[3].kiloa)|number:2}}</td>
		
		</tr>
	</tbody>
</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{rice.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

<md-tab label="Q1-%">
<md-content class="md-padding">

<div layout="row" layout-xs="column">
	<div flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Physical Accomplishment Monthly Summary Report</h2>
			</div>
		</md-toolbar>
	<md-content flex layout-padding>
	<div google-chart chart="myChart" style="height:300px;"></div>
	<em>Notes: If the percentage is greater than 100 then the bar will display 100.
	If the percentage is infinite then the bar will display nothing</em>
	</md-content>
	</div>
	<div flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2 class="md-flex">Data Table</h2>
			</div>
		</md-toolbar>
	<md-content flex layout-padding>
	<md-table-container>
<table md-table class="bordered striped">
	<thead md-head>
		<tr md-row>
			<td md-column><span>Months</span></td>
			<td md-column><span>Physical Target</span></td>
			<td md-column><span>Physical Accomplishment</span></td>
			<td md-column><span>Percentage</span></td>
		</tr>
	</thead>
	<tbody md-body>
	<tr md-row ng-repeat="x in q1 | limitTo:3">
		<td md-cell>{{x.month}}</td>
		<td md-cell >{{x.kilo.kilo|number:2}}</td>
		<td md-cell>{{x.kiloa.kiloa|number:2}}</td>
		<td md-cell ng-init="per = (1*x.kiloa.kiloa)/(1*x.kilo.kilo)">{{per | percentage:2}}</td>
	</tr>
	<tr md-row>
		<td md-cell>Total-Q1</td>
		<td md-cell>{{physTotal|number:2}}</td>
		<td md-cell>{{physTotalA|number:2}}</td>
		<td md-cell>{{physTotalA/physTotal | percentage: 2}}</td>
	</tr>
	</tbody>

</table>
</md-table-container>
	</md-content>

	</div>
</div>

<md-table-container>
<table md-table class="bordered striped">
	<thead md-head>
		<tr md-row>
			<td md-column><span>MFOs</span></td>
			<td md-column><span>Units</span></td>
			<td md-column><span>Targets</span></td>
			<td md-column><span>Physical Accomplishment</span></td>
			<td md-column><span>Percentage</span></td>
			<td md-column><span>Remarks</span></td>

		</tr>
	</thead>
	<tbody md-body>
	<tr md-row ng-repeat="x in rice | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">
		
			<td md-cell ng-show="x.clickable=='yes' && x.input=='no' "><span>{{x.mfo_name}}</span></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "><span><b>{{x.mfo_name}} </b></span></td>
			<td md-cell>{{x.kilot|number:2}} {{x.unit}}</td>
			<td md-cell>{{(1*x.kilo[1].kilo)+(1*x.kilo[2].kilo)+(1*x.kilo[3].kilo)|number:2}}</td>
			<td md-cell>{{(1*x.kiloa[1].kiloa)+(1*x.kiloa[2].kiloa)+(1*x.kiloa[3].kiloa)|number:2}}</td>
			<td md-cell ng-show="per" ng-init="per = ((1*x.kiloa[1].kiloa)+(1*x.kiloa[2].kiloa)+(1*x.kiloa[3].kiloa))/((1*x.kilo[1].kilo)+(1*x.kilo[2].kilo)+(1*x.kilo[3].kilo))">{{per | percentage:2}}</td>
			<td md-cell ng-hide="per"></td>
			<td md-cell>{{x.remarks[1]}}</td>
		
		</tr>

	</tbody>
</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{rice.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

<!--   Q2  -->
<md-tab label="Q2">
<md-content class="md-padding">
<md-table-container>
<table md-table class="bordered striped">
	<thead md-head>
		<tr md-row class="md-table-headers-row">
			<td md-column rowspan="2"><span>MFOs</span></td>
			<td md-column><span>Annual Targets</span></td>
			<td md-column colspan="4"><span>Targets</span></td>
			<td md-column colspan="4"><span>Accomplishment</span></td>
		</tr>
		<tr md-row class="md-table-headers-row">
			<td md-column><span>Unit</span></td>
			<td md-column><span>Apr</span></td>
			<td md-column><span>May</span></td>
			<td md-column><span>Jun</span></td>
			<td md-column><span>Q2</span></td>
			<td md-column><span>Apr</span></td>
			<td md-column><span>May</span></td>
			<td md-column><span>Jun</span></td>
			<td md-column><span>Q2</span></td>
		</tr>

	</thead>
	<tbody md-body>
		<tr md-row ng-repeat="x in rice | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">
		
			<td md-cell ng-show="x.clickable=='yes' && x.input=='no' "><span>{{x.mfo_name}}</span></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "><span><b>{{x.mfo_name}} </b></span></td>
			<td md-cell>{{x.kilot|number:2}} {{x.unit}}</td>
			<td md-cell>{{x.kilo[4].kilo|number:2}}</td>
			<td md-cell>{{x.kilo[5].kilo|number:2}}</td>
			<td md-cell>{{x.kilo[6].kilo|number:2}}</td>
			<td md-cell>{{(1*x.kilo[4].kilo)+(1*x.kilo[5].kilo)+(1*x.kilo[6].kilo)|number:2}}</td>
			<td md-cell>{{x.kiloa[4].kiloa|number:2}}</td>
			<td md-cell>{{x.kiloa[5].kiloa|number:2}}</td>
			<td md-cell>{{x.kiloa[6].kiloa|number:2}}</td>
			<td md-cell>{{(1*x.kiloa[4].kiloa)+(1*x.kiloa[5].kiloa)+(1*x.kiloa[6].kiloa)|number:2}}</td>
		
		</tr>
	</tbody>
</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{rice.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

<md-tab label="Q2-%">
<md-content class="md-padding">

 <div layout="row" layout-xs="column" ng-hide="isLoading">

<div flex layout-padding layout-margin>
<h5 class="center">Summary Physical Table by Unit Measures</h5> 

	<div class="table-wrapper2">
<table class="bordered striped centered">
	<thead >
		<tr >
			<th><span>Unit-Measure</span></td>
			<td><span>Jan-Target</span></td>
			<td><span>Jan-Accom</span></td>
			<td><span>Jan-Per</span></td>
			<td><span>Feb-Target</span></td>
			<td><span>Feb-Accom</span></td>
			<td><span>Feb-Per</span></td>
			<td><span>Mar-Target</span></td>
			<td><span>Mar-Accom</span></td>
			<td><span>Mar-Per</span></td>
			<td><span>Q1-Target</span></td>
			<td><span>Q1-Accom</span></td>
			<td><span>Q1-Per</span></td>
	
		</tr>
	</thead>
	<tbody >
	<tr  ng-repeat="x in q1.slice(3, 6)">
		<th >{{x.month}}</th>
		<td >{{x.kilo.kilo|number:2}}</td>
		<td >{{x.kiloa.kiloa|number:2}}</td>
		<td  ng-init="per = (1*x.kiloa.kiloa)/(1*x.kilo.kilo)">{{per | percentage:2}}</td>
	</tr>
	<tr>
		<th>Average</th>
		<td>{{physTotal2|number:2}}</td>
		<td>{{physTotalA2|number:2}}</td>
		<td>{{physTotalA2/physTotal2 | percentage: 2}}</td>
	</tr>
	</tbody>

</table>
</div>

	</div>
		<div flex layout-padding layout-margin>


	<div google-chart chart="myChart2" style="height:300px;"></div>
	
	</div>
</div>

<md-table-container>
<table md-table class="bordered striped">
	<thead md-head>
		<tr md-row>
			<td md-column><span>MFOs</span></td>
			<td md-column><span>Units</span></td>
			<td md-column><span>Targets</span></td>
			<td md-column><span>Physical Accomplishment</span></td>
			<td md-column><span>Percentage</span></td>
			<td md-column><span>Remarks</span></td>

		</tr>
	</thead>
	<tbody md-body>
	<tr md-row ng-repeat="x in rice | limitTo: query.limit : (query.page -1) * query.limit | filter:search" class="md-table-content-row">
		
			<td md-cell ng-show="x.clickable=='yes' && x.input=='no' "><span>{{x.mfo_name}}</span></td>
			<td md-cell ng-show="x.clickable=='no' && x.output=='no' "><span><b>{{x.mfo_name}} </b></span></td>
			<td md-cell>{{x.kilot|number:2}} {{x.unit}}</td>
			<td md-cell>{{(1*x.kilo[4].kilo)+(1*x.kilo[5].kilo)+(1*x.kilo[6].kilo)|number:2}}</td>
			<td md-cell>{{(1*x.kiloa[4].kiloa)+(1*x.kiloa[5].kiloa)+(1*x.kiloa[6].kiloa)|number:2}}</td>
			<td md-cell ng-show="per" ng-init="per = ((1*x.kiloa[4].kiloa)+(1*x.kiloa[5].kiloa)+(1*x.kiloa[6].kiloa))/((1*x.kilo[4].kilo)+(1*x.kilo[5].kilo)+(1*x.kilo[6].kilo))">{{per | percentage:2}}</td>
			<td md-cell ng-hide="per"></td>
			<td md-cell>{{x.remarks[1]}}</td>
		
		</tr>

	</tbody>
</table>
</md-table-container>
<md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{rice.length}}" md-page-select="true"></md-table-pagination>

</md-content>
</md-tab>

</md-tabs>
</md-card>