<md-bottom-sheet class="md-grid" layout="column">
    <md-list flex layout="row" layout-align="center center">
      <md-list-item>
        <md-button class="md-grid-item-content" ng-click="close()">
          <img  class="icon2" src="svg/account.svg" ui-sref="account">
          <div > My Account </div>
        </md-button>
      </md-list-item>

         <md-list-item>
        <md-button class="md-grid-item-content" ng-click="close()">
          <img  class="icon2" src="svg/download.svg" ui-sref="download">
          <div >Downloads</div>
        </md-button>
      </md-list-item>

       <md-list-item>
        <md-button class="md-grid-item-content" ng-click="logout()">
          <img  class="icon2" src="svg/logout.svg" >
          <div > Logout </div>
        </md-button>
      </md-list-item>

    </md-list>
     <md-content>
     <h5 style=" text-align: center;">Copyright &copy; 2016 DA-RFO XIII. All rights reserved. </h5>  
   </md-content>
</md-bottom-sheet>