<md-dialog aria-label="Details" flex="50">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h3>Physical <span ng-show="ta=='T'">Target</span><span ng-show="ta=='A'">Accomplishment</span></h3>
    <span flex></span>
    <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
  </div>
</md-toolbar>
<md-subheader class="md-primary"><span ng-repeat="m in months | filter:{id:mon}:true">Month: {{m.month_name}}</span><br>Unit: {{unit}}<br><span ng-show="mfo!=''">MFO: {{mfo}}</span></md-subheader>
<md-dialog-content>
<div class="md-dialog-content">
  <md-list>
  <ul md-subheader ng-repeat="(key, value) in ob | groupBy: 'header_id'">
  <b>MFO: {{ key }} - {{value | sumByKey:'value'}}</b>

    <table class="bordered striped">
      <tr ng-repeat="(key, value) in value | groupBy: 'mfo_name'">
        <td>{{key}}</td>
        <td style="text-align: right">{{value | sumation:'value'}}</td>
    </table>
</ul>
<md-list>
</div>
</md-dialog-content>
</md-dialog>

