<md-dialog aria-label="Details" flex>
<md-toolbar>
<div class="md-toolbar-tools">
  <h3>{{temp.group_name}}</h3>
  <span flex></span>
  <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
</div>
</md-toolbar>
<md-dialog-content>
<div class="md-dialog-content">
  <md-table-container class="bordered striped">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <td>No.</td>
        <td>Services Received</td>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="x in services"> 
        <td>{{$index+1}}</td>
        <td>{{x.mfo_name}}</td>
  
      </tbody>
    </table>
  </md-table-container>
</div>
</md-dialog-content>

</md-dialog>




