<md-dialog aria-label="Details" flex="50">
  <md-toolbar>
  <div class="md-toolbar-tools">
    <h3>Financial Accomplishment</h3>
    <span flex></span>
    <md-icon md-svg-icon="content:ic_clear_24px"  aria-label="date" ng-click="cancel()"></md-icon>
  </div>
</md-toolbar>
<md-subheader ng-repeat="m in months | filter:{id:mon}:true" class="md-primary">Month:{{m.month_name}}</md-subheader>
<md-dialog-content>
<div class="md-dialog-content">
  <md-list>
  <ul md-subheader ng-repeat="(key, value) in oba | groupBy: 'header_id'">
  <b>MFO: {{ key }}-&#8369{{sumation(value)|number:2}}</b>

    <table class="bordered striped">
      <tr ng-if="x.financial_obligation!=0" ng-repeat="x in value">
        <td>{{x.mfo_name}}</td>
        <td>&#8369{{x.financial_obligation|number:2}}</td>
    </table>
</ul>
<md-list>
</div>
</md-dialog-content>
</md-dialog>

